SEO Reports.json
{
  "name": "SEO Reports",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "OnboardingReport",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -864,
        -80
      ],
      "id": "a654fae7-aef6-4cdd-ab43-e901b5ba8572",
      "name": "Webhook",
      "webhookId": "f8594322-f696-4728-b6f3-c2b4e93cbb0e"
    },
    {
      "parameters": {
        "jsCode": "// Extract and validate input parameters\nconst targetUrl = $input.first().json.target_url || $input.first().json.body?.target_url;\nconst location = $input.first().json.location || $input.first().json.body?.location || 'United Kingdom';\nconst reportType = $input.first().json.report_type || $input.first().json.body?.report_type || 'onboarding';\nconst email = $input.first().json.email || $input.first().json.body?.email;\n\n// NEW: Report audience parameter (client or internal)\nconst reportAudience = $input.first().json.report_audience || $input.first().json.body?.report_audience || 'client';\n\n// Validate inputs\nif (!targetUrl) {\n  throw new Error('target_url is required');\n}\n\n// Clean URL\nconst cleanUrl = targetUrl.replace(/^https?:\\/\\//, '').replace(/\\/$/, '');\n\nreturn {\n  json: {\n    target_url: cleanUrl,\n    location: location,\n    report_type: reportType.toLowerCase(),\n    report_audience: reportAudience.toLowerCase(), // 'client' or 'internal'\n    email: email,\n    timestamp: new Date().toISOString(),\n  }\n};"
      },
      "id": "8351fad1-d254-4a73-80a4-306a7e0d7118",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        -80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/on_page/task_post",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"target\": \"https://{{ $json.target_url }}\",\n    \"max_crawl_pages\": 30,\n    \"load_resources\": false,\n    \"enable_javascript\": true,\n    \"validate_micromarkup\": true,\n    \"check_spell\": false,\n    \"check_spell_language\": \"en\"\n  }\n]",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -240,
        -384
      ],
      "id": "12b24fd8-0bf2-4f48-bc88-b46bc4fe4ae9",
      "name": "OnPage Task Post",
      "credentials": {
        "httpBasicAuth": {
          "id": "861cV9KnepswAcIx",
          "name": "DataForSeo"
        },
        "httpHeaderAuth": {
          "id": "C6umn6JHLnv6bU1q",
          "name": "DataForSeo"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/dataforseo_labs/google/domain_rank_overview/live",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"target\": \"{{ $json.target_url }}\",\n    \"language_name\": \"English\",\n    \"location_name\": \"{{ $json.location }}\"\n  }\n]",
        "options": {}
      },
      "id": "68f3af40-c895-4832-996a-8a6534be414f",
      "name": "Domain Rank Overview",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        240,
        -336
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "861cV9KnepswAcIx",
          "name": "DataForSeo"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/dataforseo_labs/google/ranked_keywords/live",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"target\": \"{{ $json.target_url }}\",\n    \"location_name\": \"{{ $json.location }}\",\n    \"language_name\": \"English\",\n    \"limit\": 1000,\n    \"filters\": [\"keyword_data.keyword_info.search_volume\", \">\", 0],\n    \"order_by\": [\"ranked_serp_element.serp_item.rank_absolute,asc\"]\n  }\n]",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        240,
        -144
      ],
      "id": "2fb3ce32-6913-4196-90bb-9c86bb0450fa",
      "name": "Ranked Keywords",
      "credentials": {
        "httpBasicAuth": {
          "id": "861cV9KnepswAcIx",
          "name": "DataForSeo"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/backlinks/summary/live",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"target\": \"{{ $json.target_url }}\",\n    \"internal_list_limit\": 10,\n    \"include_subdomains\": true\n  }\n]",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        240,
        48
      ],
      "id": "777af1aa-ac3d-4ee8-8bf0-a41486a2db2f",
      "name": "Backlinks Summary",
      "credentials": {
        "httpBasicAuth": {
          "id": "861cV9KnepswAcIx",
          "name": "DataForSeo"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Wait for OnPage task to complete (5 minutes)\nawait new Promise(resolve => setTimeout(resolve, 300000));\nreturn $input.all();"
      },
      "id": "7080ed78-b016-427a-8951-516c0862b16b",
      "name": "Wait for OnPage Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        -432
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.dataforseo.com/v3/on_page/summary",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[{\"id\": \"{{ $json.tasks[0].id }}\"}]",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        240,
        -528
      ],
      "id": "c5367d39-6226-40ba-98ef-58c9987c8962",
      "name": "OnPage Summary",
      "credentials": {
        "httpBasicAuth": {
          "id": "861cV9KnepswAcIx",
          "name": "DataForSeo"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Domain Rank Overview - Extract relevant metrics\nconst input = $input.first().json;\n\n// Check if API call was successful\nif (input.status_code !== 20000 || !input.tasks?.[0]?.result?.[0]) {\n  return {\n    success: false,\n    error: input.tasks?.[0]?.status_message || 'Domain Rank API failed',\n    domainRank: null\n  };\n}\n\nconst result = input.tasks[0].result[0];\nconst metrics = result.items?.[0]?.metrics?.organic || {};\n\n// Extract only relevant data for the report\nreturn {\n  success: true,\n  domainRank: {\n    // Basic Info\n    target: result.target,\n    location: result.location_code,\n    language: result.language_code,\n    \n    // Position Distribution\n    positions: {\n      top3: (metrics.pos_1 || 0) + (metrics.pos_2_3 || 0),\n      top10: (metrics.pos_1 || 0) + (metrics.pos_2_3 || 0) + (metrics.pos_4_10 || 0),\n      page2: metrics.pos_11_20 || 0,  // Opportunities!\n      page3: metrics.pos_21_30 || 0,\n      page4Plus: (metrics.pos_31_40 || 0) + (metrics.pos_41_50 || 0) + \n                 (metrics.pos_51_60 || 0) + (metrics.pos_61_70 || 0) + \n                 (metrics.pos_71_80 || 0) + (metrics.pos_81_90 || 0) + \n                 (metrics.pos_91_100 || 0)\n    },\n    \n    // Traffic & Value\n    estimatedTrafficValue: Math.round(metrics.etv || 0),\n    totalKeywords: metrics.count || 0,\n    estimatedPaidTrafficCost: Math.round((metrics.estimated_paid_traffic_cost || 0) * 100) / 100,\n    \n    // Keyword Movement\n    movement: {\n      newKeywords: metrics.is_new || 0,\n      improved: metrics.is_up || 0,\n      declined: metrics.is_down || 0,\n      lost: metrics.is_lost || 0\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        -336
      ],
      "id": "91ef99f8-a064-49f1-b1ff-38dde962b8aa",
      "name": "Parse Domain Rank"
    },
    {
      "parameters": {
        "jsCode": "// Parse Ranked Keywords - Extract and analyze keyword data\nconst input = $input.first().json;\n\n// Check if API call was successful\nif (input.status_code !== 20000 || !input.tasks?.[0]?.result?.[0]) {\n  return {\n    success: false,\n    error: input.tasks?.[0]?.status_message || 'Ranked Keywords API failed',\n    keywords: null\n  };\n}\n\nconst result = input.tasks[0].result[0];\nconst items = result.items || [];\nconst target = result.target || '';\n\n// Extract domain name for branded keyword detection\nconst domainName = target.replace(/^www\\./, '').split('.')[0].toLowerCase();\n\n// Initialize counters\nlet brandedCount = 0;\nlet unbrandedCount = 0;\nlet totalSearchVolume = 0;\nlet totalETV = 0;\n\n// Position buckets\nconst positionBuckets = {\n  top3: [],\n  top10: [],\n  page2Opportunities: [],  // Positions 11-20 - Ready to push!\n  page3: [],\n  deepPositions: []\n};\n\n// Process each keyword\nconst processedKeywords = items.map(item => {\n  const keyword = item.keyword_data?.keyword || '';\n  const keywordLower = keyword.toLowerCase();\n  const searchVolume = item.keyword_data?.keyword_info?.search_volume || 0;\n  const rank = item.ranked_serp_element?.serp_item?.rank_absolute || 999;\n  const url = item.ranked_serp_element?.serp_item?.url || '';\n  const etv = item.ranked_serp_element?.serp_item?.etv || 0;\n  const cpc = item.keyword_data?.keyword_info?.cpc || 0;\n  const difficulty = item.keyword_data?.keyword_properties?.keyword_difficulty || 0;\n  const intent = item.keyword_data?.search_intent_info?.main_intent || 'unknown';\n  const isNew = item.ranked_serp_element?.serp_item?.rank_changes?.is_new || false;\n  \n  // Determine if branded\n  const isBranded = keywordLower.includes(domainName);\n  if (isBranded) {\n    brandedCount++;\n  } else {\n    unbrandedCount++;\n  }\n  \n  totalSearchVolume += searchVolume;\n  totalETV += etv;\n  \n  const keywordData = {\n    keyword,\n    rank,\n    searchVolume,\n    etv: Math.round(etv * 100) / 100,\n    cpc: Math.round(cpc * 100) / 100,\n    difficulty,\n    intent,\n    url,\n    isBranded,\n    isNew\n  };\n  \n  // Categorize by position\n  if (rank <= 3) {\n    positionBuckets.top3.push(keywordData);\n  } else if (rank <= 10) {\n    positionBuckets.top10.push(keywordData);\n  } else if (rank <= 20) {\n    positionBuckets.page2Opportunities.push(keywordData);\n  } else if (rank <= 30) {\n    positionBuckets.page3.push(keywordData);\n  } else {\n    positionBuckets.deepPositions.push(keywordData);\n  }\n  \n  return keywordData;\n});\n\n// Sort opportunities by search volume (highest first)\npositionBuckets.page2Opportunities.sort((a, b) => b.searchVolume - a.searchVolume);\npositionBuckets.top10.sort((a, b) => a.rank - b.rank);\npositionBuckets.top3.sort((a, b) => a.rank - b.rank);\n\n// Calculate branded/unbranded percentages\nconst totalKeywords = items.length;\nconst brandedPercent = totalKeywords > 0 ? Math.round((brandedCount / totalKeywords) * 100) : 0;\nconst unbrandedPercent = totalKeywords > 0 ? Math.round((unbrandedCount / totalKeywords) * 100) : 0;\n\nreturn {\n  success: true,\n  keywords: {\n    // Summary Stats\n    summary: {\n      totalKeywords,\n      totalSearchVolume,\n      totalETV: Math.round(totalETV * 100) / 100,\n      brandedCount,\n      unbrandedCount,\n      brandedPercent,\n      unbrandedPercent\n    },\n    \n    // Position Distribution\n    distribution: {\n      top3Count: positionBuckets.top3.length,\n      top10Count: positionBuckets.top3.length + positionBuckets.top10.length,\n      page2Count: positionBuckets.page2Opportunities.length,\n      page3Count: positionBuckets.page3.length,\n      deepCount: positionBuckets.deepPositions.length\n    },\n    \n    // Top Performers (Top 10 by rank)\n    topPerformers: [...positionBuckets.top3, ...positionBuckets.top10].slice(0, 10),\n    \n    // Quick Win Opportunities (Page 2 keywords with high volume)\n    quickWinOpportunities: positionBuckets.page2Opportunities.slice(0, 10),\n    \n    // All keywords for detailed analysis\n    allKeywords: processedKeywords.slice(0, 50)  // Limit to 50 for report\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        -144
      ],
      "id": "704c7edc-727f-44b0-9a92-20670559ce2e",
      "name": "Parse Ranked Keywords"
    },
    {
      "parameters": {
        "jsCode": "// Parse OnPage Summary - Extract technical SEO metrics\nconst input = $input.first().json;\nconst task = input.tasks?.[0];\n\n// Check if task is still in queue\nif (task?.status_code === 40602) {\n  return {\n    success: false,\n    status: 'in_queue',\n    message: 'OnPage analysis is still processing. Please wait and retry.',\n    onPage: null\n  };\n}\n\n// Check if API call was successful\nif (input.status_code !== 20000 || !task?.result?.[0]) {\n  return {\n    success: false,\n    status: 'error',\n    error: task?.status_message || 'OnPage API failed',\n    onPage: null\n  };\n}\n\nconst result = task.result[0];\nconst crawl = result.crawl_progress || {};\n\nreturn {\n  success: true,\n  status: 'complete',\n  onPage: {\n    // Crawl Info\n    crawlProgress: crawl,\n    pagesCrawled: result.pages_crawled || 0,\n    pagesInQueue: result.pages_in_queue || 0,\n    \n    // Technical Issues\n    issues: {\n      critical: result.page_metrics?.checks?.critical || 0,\n      warnings: result.page_metrics?.checks?.warnings || 0,\n      notices: result.page_metrics?.checks?.notices || 0\n    },\n    \n    // Page Metrics\n    pageMetrics: {\n      brokenLinks: result.page_metrics?.broken_links || 0,\n      brokenResources: result.page_metrics?.broken_resources || 0,\n      duplicateTitle: result.page_metrics?.duplicate_title || 0,\n      duplicateDescription: result.page_metrics?.duplicate_description || 0,\n      duplicateContent: result.page_metrics?.duplicate_content || 0\n    },\n    \n    // Performance\n    performance: {\n      avgPageLoadTime: result.page_metrics?.page_timing?.time_to_interactive || 0,\n      https: result.page_metrics?.checks?.no_https || 0,\n      mobileUsability: result.page_metrics?.checks?.is_mobile_friendly || false\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        -528
      ],
      "id": "4420b699-b9a9-411d-b309-dc4449e10041",
      "name": "Parse OnPage Summary"
    },
    {
      "parameters": {
        "jsCode": "// Parse Backlinks Summary - Extract backlink metrics\nconst input = $input.first().json;\nconst task = input.tasks?.[0];\n\n// Check for access denied error\nif (task?.status_code === 40204) {\n  return {\n    success: false,\n    error: 'Backlinks API requires subscription activation',\n    message: 'Visit https://app.dataforseo.com/backlinks-subscription to activate',\n    backlinks: null\n  };\n}\n\n// Check if API call was successful\nif (input.status_code !== 20000 || !task?.result?.[0]) {\n  return {\n    success: false,\n    error: task?.status_message || 'Backlinks API failed',\n    backlinks: null\n  };\n}\n\nconst result = task.result[0];\n\nreturn {\n  success: true,\n  backlinks: {\n    // Core Metrics\n    totalBacklinks: result.backlinks || 0,\n    referringDomains: result.referring_domains || 0,\n    referringMainDomains: result.referring_main_domains || 0,\n    referringIPs: result.referring_ips || 0,\n    \n    // Link Types\n    dofollow: result.dofollow || 0,\n    nofollow: result.nofollow || 0,\n    \n    // Quality Indicators\n    rank: result.rank || 0,\n    brokenBacklinks: result.broken_backlinks || 0,\n    \n    // Calculations\n    dofollowPercent: result.backlinks > 0 \n      ? Math.round((result.dofollow / result.backlinks) * 100) \n      : 0\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        48
      ],
      "id": "22cb4fee-1857-44d1-a5be-4684ed486f38",
      "name": "Parse Backlinks Summary"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        832,
        -416
      ],
      "id": "e49e7851-d0a6-4188-bfa6-8b4f2d3c961d",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        800,
        -48
      ],
      "id": "f9546289-b1dc-400f-9546-db185b897e22",
      "name": "Merge1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1040,
        -256
      ],
      "id": "b09683b4-43fc-4bdd-ab82-f9a4f509d0ae",
      "name": "Merge2"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate All Data - Combine into single object\nconst allInputs = $input.all();\n\n// Get data from Validate Input\nconst validateInputData = $('Validate Input').first().json;\n\nconst aggregatedData = {\n  onPage: null,\n  domainRank: null,\n  keywords: null,\n  backlinks: null,\n  metadata: {\n    generatedAt: new Date().toISOString(),\n    reportType: validateInputData.report_type || 'onboarding',\n    reportAudience: validateInputData.report_audience || 'client',\n    targetUrl: validateInputData.target_url\n  }\n};\n\nfor (const item of allInputs) {\n  const data = item.json;\n  \n  if (data.onPage !== undefined) {\n    aggregatedData.onPage = data;\n  } else if (data.domainRank !== undefined) {\n    aggregatedData.domainRank = data;\n  } else if (data.keywords !== undefined) {\n    aggregatedData.keywords = data;\n  } else if (data.backlinks !== undefined) {\n    aggregatedData.backlinks = data;\n  }\n}\n\nreturn aggregatedData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        -256
      ],
      "id": "fa4926f1-d955-4009-a9eb-74196d4069bd",
      "name": "Aggregate Data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userPrompt }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.systemPrompt }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2256,
        -256
      ],
      "id": "1fb77264-5cf1-44d1-88c9-93a2eb3649de",
      "name": "Onboarding Report Generator",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 4000,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2256,
        -144
      ],
      "id": "82549dbe-b310-41fc-9770-6cff9093b6a6",
      "name": "GPT-4.1 mini",
      "credentials": {
        "openAiApi": {
          "id": "H5LXr3raFFEHNnlb",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build AI Prompt - SEO Onboarding Report with Audience-Specific Focus\nconst input = $input.first().json;\n\n// ✅ FIX: Extract aggregatedData - Handle nested structure from Validate Data node\nconst data = input.aggregatedData || input;\n\n// Extract data\nconst domainRank = data.domainRank?.domainRank || {};\nconst keywords = data.keywords?.keywords || {};\nconst backlinks = data.backlinks?.backlinks || {};\nconst onPage = data.onPage?.onPage || {};\nconst metadata = data.metadata || {};\n\n// ✅ FIX: Get target URL from multiple sources (handle case sensitivity)\nconst targetWebsite = metadata.targetUrl ||      // Lowercase 'u' (correct)\n                      metadata.targetURL ||      // Uppercase 'U' (fallback)\n                      domainRank.target ||       // From domain rank data\n                      metadata.target_url ||     // Snake case (fallback)\n                      'Unknown';\n\n// Get report audience type\nconst reportAudience = metadata.reportAudience || 'client';\nconst isClientReport = reportAudience === 'client';\nconst isInternalReport = reportAudience === 'internal';\n\n// Format keywords lists\nconst formatKeywords = (kwList, limit = 10) => {\n  if (!kwList || kwList.length === 0) return '*No keywords in this category*';\n  return kwList.slice(0, limit).map((kw, i) => \n    `${i + 1}. **${kw.keyword}** (Rank: ${kw.rank}, Volume: ${kw.searchVolume}/mo, CPC: £${kw.cpc})`\n  ).join('\\n');\n};\n\n// ========== AUDIENCE-SPECIFIC INSTRUCTIONS ==========\nlet audienceInstructions = '';\nlet toneGuidelines = '';\n\nif (isClientReport) {\n  audienceInstructions = `\n## 🎯 REPORT AUDIENCE: CLIENT-FACING ONBOARDING\n\nThis is a CLIENT onboarding report. Your goal is to:\n- Welcome them warmly and professionally\n- Highlight the exciting opportunities ahead\n- Build confidence in the SEO strategy\n- Focus on potential and growth\n- Present challenges as \"opportunities for improvement\"`;\n\n  toneGuidelines = `\n### Tone & Style Guidelines:\n- Warm, welcoming, and professional\n- Optimistic and opportunity-focused\n- Emphasize potential ROI and growth\n- Use encouraging language\n- Frame technical issues as \"areas we'll improve together\"\n- Focus on quick wins and exciting opportunities\n- Build excitement about the partnership\n- Avoid alarming language about problems`;\n\n} else {\n  audienceInstructions = `\n## 🔍 REPORT AUDIENCE: INTERNAL TEAM AUDIT\n\nThis is an INTERNAL onboarding audit. Your goal is to:\n- Provide honest, unfiltered analysis\n- Identify all problems and risks clearly\n- Document technical debt and issues\n- Create actionable work items\n- Assess realistic effort required`;\n\n  toneGuidelines = `\n### Tone & Style Guidelines:\n- Direct, analytical, and honest\n- No sugar-coating - show the real picture\n- List ALL technical issues with severity\n- Include risk assessment\n- Document everything that needs fixing\n- Provide effort estimates for each task\n- Flag potential challenges and blockers\n- Include internal notes and observations`;\n}\n\n// ========== BUILD SYSTEM PROMPT ==========\nconst systemPrompt = `You are a Senior UK SEO Strategist creating a ${isClientReport ? 'CLIENT-FACING' : 'INTERNAL TEAM'} onboarding ${isClientReport ? 'report' : 'audit'}.\n\nYour expertise includes:\n- Technical SEO and site architecture optimization\n- Content strategy and keyword research\n- Link building and authority development\n- Local SEO and schema markup implementation\n- Conversion rate optimization\n- ROI-focused strategy development\n\n${isClientReport ? `\nCLIENT REPORT APPROACH:\n- Be warm, welcoming, and consultative\n- Focus on opportunities and potential\n- Build excitement about the partnership\n- Present a positive but realistic picture\n- Use encouraging, professional language\n- Highlight quick wins and growth potential\n- Frame challenges as opportunities\n` : `\nINTERNAL AUDIT APPROACH:\n- Be direct and analytical\n- Document ALL issues without filtering\n- Include severity ratings for problems\n- Provide realistic effort estimates\n- Flag risks and potential blockers\n- Create actionable work items\n- Include technical details\n`}\n\nFormat Requirements:\n- Use UK English spelling (optimisation, colour, etc.)\n- Well-structured Markdown with clear hierarchy\n- Bullet points for lists\n- **Bold** for key metrics\n- Tables for comparative data\n- ${isClientReport ? 'Emojis for visual interest (✓ 📈 🎯 ⚡ 🚀)' : 'Minimal emojis - focus on clarity'}`;\n\n// ========== BUILD USER PROMPT ==========\nconst userPrompt = `# ${isClientReport ? 'Client Onboarding Report' : 'Internal SEO Audit'}: ${targetWebsite}\n\n${audienceInstructions}\n${toneGuidelines}\n\n---\n\n## DATA ANALYSIS SUMMARY\n\n### 1. Authority & Traffic Metrics\n\n**Organic Performance:**\n- Estimated Monthly Traffic Value: £${domainRank.estimatedTrafficValue || 0}\n- Total Ranking Keywords: ${domainRank.totalKeywords || 0}\n- Top 3 Positions: ${domainRank.positions?.top3 || 0}\n- Top 10 Positions: ${domainRank.positions?.top10 || 0}\n- Page 2 Opportunities: ${domainRank.positions?.page2 || 0}\n- Page 3+ Positions: ${(domainRank.positions?.page3 || 0) + (domainRank.positions?.page4Plus || 0)}\n\n**Keyword Movement:**\n- New Keywords: +${domainRank.movement?.newKeywords || 0}\n- Improved: +${domainRank.movement?.improved || 0}\n- Declined: -${domainRank.movement?.declined || 0}\n- Lost: -${domainRank.movement?.lost || 0}\n\n**Backlink Profile:**\n- Total Backlinks: ${backlinks.totalBacklinks || 0}\n- Referring Domains: ${backlinks.referringDomains || 0}\n- Domain Rank: ${backlinks.rank || 0}\n- Dofollow Links: ${backlinks.dofollow || 0} (${backlinks.dofollowPercent || 0}%)\n- Nofollow Links: ${backlinks.nofollow || 0}\n- Broken Backlinks: ${backlinks.brokenBacklinks || 0}\n\n---\n\n### 2. Keyword Analysis\n\n**Overview:**\n- Total Keywords: ${keywords.summary?.totalKeywords || 0}\n- Total Search Volume: ${keywords.summary?.totalSearchVolume || 0}/month\n- **Branded Keywords:** ${keywords.summary?.brandedCount || 0} (${keywords.summary?.brandedPercent || 0}%)\n- **Unbranded Keywords:** ${keywords.summary?.unbrandedCount || 0} (${keywords.summary?.unbrandedPercent || 0}%)\n\n**Position Distribution:**\n- Top 3: ${keywords.distribution?.top3Count || 0}\n- Top 10: ${keywords.distribution?.top10Count || 0}\n- **Page 2 Opportunities:** ${keywords.distribution?.page2Count || 0}\n- Page 3: ${keywords.distribution?.page3Count || 0}\n- Deep (30+): ${keywords.distribution?.deepCount || 0}\n\n**Top Performing Keywords:**\n${formatKeywords(keywords.topPerformers, 10)}\n\n**Page 2 Quick Win Opportunities:**\n${formatKeywords(keywords.quickWinOpportunities, 10)}\n\n**Deeper Position Keywords:**\n${formatKeywords((keywords.allKeywords || []).filter(k => k.rank > 30), 8)}\n\n---\n\n### 3. Technical SEO (OnPage Analysis)\n- Crawl Status: ${onPage.crawlProgress || 'N/A'}\n- Pages Crawled: ${onPage.pagesCrawled || 0}\n- Critical Issues: ${onPage.issues?.critical ?? 'N/A'}\n- Warnings: ${onPage.issues?.warnings ?? 'N/A'}\n- Notices: ${onPage.issues?.notices ?? 'N/A'}\n- Broken Links: ${onPage.pageMetrics?.brokenLinks ?? 'N/A'}\n- Broken Resources: ${onPage.pageMetrics?.brokenResources ?? 'N/A'}\n- Duplicate Titles: ${onPage.pageMetrics?.duplicateTitle ?? 'N/A'}\n- Duplicate Descriptions: ${onPage.pageMetrics?.duplicateDescription ?? 'N/A'}\n- Duplicate Content: ${onPage.pageMetrics?.duplicateContent ?? 'N/A'}\n\n---\n\n## YOUR TASK: Generate ${isClientReport ? 'Professional Client Onboarding Report' : 'Internal SEO Audit Document'}\n\n${isClientReport ? `\n### REQUIRED STRUCTURE (CLIENT REPORT):\n\n### 1. Executive Summary\n- Warm welcome message\n- Current state overview (positive framing)\n- Biggest opportunities identified (exciting!)\n- Expected ROI and timeline\n- Overall SEO health score (X/100)\n\n### 2. Current Performance Analysis\n\n#### 2.1 Visibility & Rankings\n- Visibility score interpretation\n- Traffic value assessment (positive spin)\n- Competitive positioning\n\n#### 2.2 Keyword Positioning\n- Branded vs Unbranded analysis\n- Top performers celebration\n- Growth opportunities\n\n#### 2.3 Authority & Backlinks\n- Domain authority evaluation\n- Link profile strengths\n- Building opportunities\n\n### 3. Strategic Opportunities\n\n#### 3.1 🎯 Quick Wins (0-3 Months)\n- Page 2 keywords ready to move up\n- Easy optimisation targets\n- Expected quick results\n\n#### 3.2 Growth Strategy\n- Content opportunities\n- Authority building plan\n- Traffic growth potential\n\n### 4. Your SEO Roadmap\n\n#### Phase 1: Foundation (Months 1-3)\n- Quick wins implementation\n- Technical improvements\n- **Expected Outcomes**\n\n#### Phase 2: Growth (Months 4-6)\n- Content expansion\n- Authority building\n- **Expected Outcomes**\n\n#### Phase 3: Scaling (Months 7-9)\n- Market expansion\n- Competitive positioning\n- **Expected Outcomes**\n\n#### Phase 4: Leadership (Months 10-12)\n- Industry authority\n- Long-term dominance\n- **Expected Outcomes**\n\n### 5. Investment & ROI\n- Phase-by-phase investment (£)\n- Expected returns\n- 12-month projection\n\n### 6. Next Steps\n- Immediate actions\n- What we need from you\n- Exciting journey ahead!\n` : `\n### REQUIRED STRUCTURE (INTERNAL AUDIT):\n\n### 1. Audit Summary\n- Honest current state assessment\n- Critical issues requiring immediate attention\n- Risk assessment\n- Resource requirements estimate\n- Overall health score with breakdown\n\n### 2. Technical Issues Inventory\n\n#### 2.1 Critical Issues (P0 - Immediate)\n| Issue | Severity | Pages Affected | Effort | Notes |\n|-------|----------|----------------|--------|-------|\n(List ALL critical issues)\n\n#### 2.2 High Priority Issues (P1 - This Sprint)\n(Detailed list with effort estimates)\n\n#### 2.3 Medium Priority (P2 - Next Sprint)\n(List with notes)\n\n#### 2.4 Low Priority (P3 - Backlog)\n(Complete list)\n\n### 3. Keyword Analysis (Honest Assessment)\n\n#### 3.1 Strengths\n- What's working\n- Defensible positions\n\n#### 3.2 Weaknesses\n- Lost keywords analysis\n- Declining positions\n- Gaps vs competitors\n\n#### 3.3 Risks\n- Vulnerable rankings\n- Competitor threats\n\n### 4. Backlink Audit\n- Quality assessment (honest)\n- Toxic links identified\n- Gap analysis\n- Effort required for improvement\n\n### 5. Content Audit\n- Content gaps\n- Thin content issues\n- Cannibalisation problems\n- Required new content (with effort)\n\n### 6. Work Items & Sprint Planning\n\n#### Sprint 1 (Weeks 1-2)\n| Task | Priority | Effort | Owner | Notes |\n|------|----------|--------|-------|-------|\n\n#### Sprint 2 (Weeks 3-4)\n(Continue pattern)\n\n#### Backlog Items\n(Full list)\n\n### 7. Resource Requirements\n- Hours estimate by task type\n- Skills needed\n- Tool requirements\n- Budget considerations\n\n### 8. Risk Register\n| Risk | Probability | Impact | Mitigation |\n|------|-------------|--------|------------|\n\n### 9. Internal Notes\n- Observations not for client\n- Team discussion points\n- Potential challenges\n`}\n\n---\n\n**IMPORTANT:**\n${isClientReport ? `\n1. Keep tone warm, welcoming, and optimistic\n2. Focus on opportunities, not problems\n3. Use UK English (optimisation, colour)\n4. Include realistic but positive projections\n5. Build excitement about the partnership\n6. Use emojis appropriately for visual appeal\n7. End with enthusiasm and confidence\n` : `\n1. Be completely honest - no sugar-coating\n2. Document EVERY issue found\n3. Include severity and effort for all items\n4. Provide realistic timeline estimates\n5. Flag all risks and blockers\n6. Use UK English (optimisation, colour)\n7. Create actionable sprint items\n8. Include internal notes section\n`}\n\nGenerate the complete ${isClientReport ? 'client onboarding report' : 'internal audit document'} now.`;\n\nreturn {\n  systemPrompt: systemPrompt,\n  userPrompt: userPrompt,\n  targetWebsite: targetWebsite,\n  reportAudience: reportAudience,\n  generatedAt: new Date().toISOString()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2096,
        -256
      ],
      "id": "384e2548-0b8d-421c-8c76-1cf14e75b864",
      "name": "Generate Prompt"
    },
    {
      "parameters": {
        "name": "={{ $json.filename }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1CwmxaJ5LEvokptosoiNx1rHXC-wL110-",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2752,
        -256
      ],
      "id": "d822c5eb-bc06-4b56-8434-7188e35e5600",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "eBh6pygRVxYps7mk",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Convert LLM output to Markdown file\nconst markdown = $input.first().json.text;\nconst website = $('Generate Prompt').first().json.targetWebsite || 'website';\nconst date = new Date().toISOString().split('T')[0];\n\n// Create clean filename\nconst cleanWebsite = website.replace(/[^a-zA-Z0-9]/g, '_').replace(/_+/g, '_');\nconst filename = `SEO_Onboarding_Report_${cleanWebsite}_${date}.md`;\n\n// Convert markdown text to base64 for binary\nconst base64Content = Buffer.from(markdown, 'utf8').toString('base64');\n\nreturn {\n  json: {\n    filename: filename,\n    targetWebsite: website,\n    generatedAt: date,\n    markdownContent: markdown\n  },\n  binary: {\n    data: {  // ← Changed from 'file' to 'data'\n      data: base64Content,\n      mimeType: 'text/markdown',\n      fileName: filename,\n      fileExtension: 'md'\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2576,
        -256
      ],
      "id": "725db8c1-de22-4bef-bf35-511d10e2416b",
      "name": "Convert To Markdown"
    },
    {
      "parameters": {
        "fromEmail": "automation@programmx.com",
        "toEmail": "={{ $(\"Validate Input\").first().json.email }}",
        "subject": "=SEO Onboarding Report - {{ $('Convert To Markdown').first().json.targetWebsite }} - {{ $now.format('yyyy-MM-dd') }}",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 30px; border-radius: 10px 10px 0 0; text-align: center; }\n    .content { background: #f8f9fa; padding: 30px; border-radius: 0 0 10px 10px; }\n    .button { display: inline-block; background: #4299e1; color: white; padding: 15px 30px; text-decoration: none; border-radius: 5px; font-weight: bold; margin: 20px 0; }\n    .footer { text-align: center; margin-top: 20px; color: #718096; font-size: 12px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>🚀 SEO Onboarding Report Ready!</h1>\n    </div>\n    <div class=\"content\">\n      <p>Hello,</p>\n      \n      <p>Your comprehensive SEO Onboarding Report has been generated and saved.</p>\n      \n      <h3>📊 Report Details:</h3>\n      <ul>\n        <li><strong>Website:</strong> {{ $('Convert To Markdown').first().json.targetWebsite }}</li>\n        <li><strong>Generated:</strong> {{ $now.format('MMMM d, yyyy') }}</li>\n        <li><strong>File:</strong> {{ $('Convert To Markdown').first().json.filename }}</li>\n      </ul>\n      \n      <p style=\"text-align: center;\">\n        <a href=\"https://drive.google.com/file/d/{{ $('Google Drive').first().json.id }}/view\" class=\"button\">\n          📄 View Report in Google Drive\n        </a>\n      </p>\n      \n      <h3>📋 What's Included:</h3>\n      <ul>\n        <li>Executive Summary & SEO Health Score</li>\n        <li>Current Performance Analysis</li>\n        <li>Keyword & Ranking Insights</li>\n        <li>Backlink Profile Assessment</li>\n        <li>Strategic Recommendations</li>\n        <li>12-Month SEO Roadmap</li>\n      </ul>\n      \n      <p>Best regards,<br>\n      <strong>Your SEO Team</strong></p>\n    </div>\n    <div class=\"footer\">\n      <p>This report was automatically generated.</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2928,
        -256
      ],
      "id": "a7a580b5-8506-4a41-aa65-3c20fef20020",
      "name": "Send Report",
      "webhookId": "8cc4bd9c-86ee-4316-9d5d-009ddd4195b4",
      "credentials": {
        "smtp": {
          "id": "Powsux0m0r1TlNbw",
          "name": "SMTP account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "=q",
              "value": "name contains 'SEO_Performance_Report' and '1CwmxaJ5LEvokptosoiNx1rHXC-wL110-' in parents"
            },
            {
              "name": "=orderBy",
              "value": "modifiedTime desc"
            },
            {
              "name": "=pageSize",
              "value": "10"
            },
            {
              "name": "=fields",
              "value": "files(id,name,createdTime,modifiedTime)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1792,
        1408
      ],
      "id": "d8dc0caa-279a-4fd6-b85a-232668c8e2a9",
      "name": "Search Previous Reports",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "eBh6pygRVxYps7mk",
          "name": "Google Drive account 4"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Get Latest Previous Report - use result from Filter Files\n\n// 1) Aggregated SEO data from Aggregate Data1\nconst aggregatedData = $('Aggregate Data1').first().json;\n\n// 2) File chosen by Filter Files (comes in as this node's input)\nconst input = $input.first().json;\n\n// If Filter Files found a match, it sets matched: true and provides file\nlet previousReportFile = null;\n\nif (input && input.matched === true && input.file) {\n  previousReportFile = input.file;\n}\n\n// Build output object used by downstream nodes\nreturn {\n  json: {\n    aggregatedData: aggregatedData,\n    hasPreviousReport: previousReportFile !== null,\n    previousReportId: previousReportFile?.id || null,\n    previousReportName: previousReportFile?.name || null,\n    previousReportDate: previousReportFile?.modifiedTime || previousReportFile?.createdTime || null\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2176,
        1392
      ],
      "id": "dee59dc8-d309-4a0e-8c55-8fd25035d152",
      "name": "Get Previous Report"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.previousReportId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2368,
        1392
      ],
      "id": "bf96c82d-bb98-437d-99d9-cd35f79d76f6",
      "name": "Download Previous Report",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "eBh6pygRVxYps7mk",
          "name": "Google Drive account 4"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse Previous Report - Extract content and merge with aggregated data\nconst prevReportData = $('Get Previous Report').first().json;\nconst aggregatedData = prevReportData.aggregatedData;\n\nlet previousReportContent = null;\nlet hasPreviousReport = false;\nlet previousReportName = prevReportData.previousReportName;\nlet previousReportDate = prevReportData.previousReportDate;\n\n// Only parse if we found a previous report\nif (prevReportData.hasPreviousReport && prevReportData.previousReportId) {\n  try {\n    const downloadResult = $('Download Previous Report');\n    \n    if (downloadResult && downloadResult.first()) {\n      const downloadedFile = downloadResult.first();\n      \n      // Check for binary data\n      if (downloadedFile.binary && downloadedFile.binary.data) {\n        const binaryData = downloadedFile.binary.data;\n        const buffer = Buffer.from(binaryData.data, 'base64');\n        previousReportContent = buffer.toString('utf8');\n        hasPreviousReport = true;\n      }\n    }\n  } catch (error) {\n    console.log('Could not parse previous report:', error.message);\n    hasPreviousReport = false;\n  }\n}\n\n// Return combined data for Generate Prompt\nreturn {\n  json: {\n    ...aggregatedData,\n    previousReport: {\n      hasPreviousReport: hasPreviousReport,\n      reportName: previousReportName,\n      reportDate: previousReportDate,\n      content: previousReportContent\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2528,
        1392
      ],
      "id": "49ec9737-dc47-41b6-a992-44b664db7ca1",
      "name": "Parse Previous Report"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userPrompt }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.systemPrompt }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2896,
        1392
      ],
      "id": "62274746-1951-4d00-ad6f-5fbda3d12328",
      "name": "Performance Report Generator",
      "retryOnFail": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ProgressReport",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -880,
        1504
      ],
      "id": "a042b993-eef1-41bb-a636-2fdbeabb451c",
      "name": "Webhook1",
      "webhookId": "f8594322-f696-4728-b6f3-c2b4e93cbb0e"
    },
    {
      "parameters": {
        "jsCode": "// Extract and validate input parameters\nconst targetUrl = $input.first().json.target_url || $input.first().json.body?.target_url;\nconst location = $input.first().json.location || $input.first().json.body?.location || 'United Kingdom';\nconst email = $input.first().json.email || $input.first().json.body?.email;\nconst pastReportId = $input.first().json.past_report_id || $input.first().json.body?.past_report_id;\n\n// Report type: progress, onboarding, audit, etc.\nconst reportType = $input.first().json.report_type || $input.first().json.body?.report_type || 'progress';\n\n// Report audience: client or internal\nconst reportAudience = $input.first().json.report_audience || $input.first().json.body?.report_audience || 'client';\n\n// Date range parameters\nconst dateFrom = $input.first().json.date_from || $input.first().json.body?.date_from || null;\nconst dateTo = $input.first().json.date_to || $input.first().json.body?.date_to || null;\n\n// Validate inputs\nif (!targetUrl) {\n  throw new Error('target_url is required');\n}\n\n// Clean URL\nconst cleanUrl = targetUrl.replace(/^https?:\\/\\//, '').replace(/\\/$/, '');\n\n// Calculate default dates if not provided (last 30 days)\nconst today = new Date();\nconst todayStr = today.toISOString().split('T')[0];\nconst thirtyDaysAgo = new Date(today);\nthirtyDaysAgo.setDate(thirtyDaysAgo.getDate() - 30);\nconst thirtyDaysAgoStr = thirtyDaysAgo.toISOString().split('T')[0];\n\nconst finalDateFrom = dateFrom || thirtyDaysAgoStr;\nconst finalDateTo = dateTo || todayStr;\n\nreturn {\n  json: {\n    target_url: cleanUrl,\n    location: location,\n    report_type: reportType.toLowerCase(),        // 'progress', 'onboarding', etc.\n    report_audience: reportAudience.toLowerCase(), // 'client' or 'internal'\n    email: email,\n    past_report_id: pastReportId,\n    date_from: finalDateFrom,\n    date_to: finalDateTo,\n    timestamp: new Date().toISOString(),\n    is_progress_report: reportType.toLowerCase() === 'progress'\n  }\n};"
      },
      "id": "9724d180-bedb-43ad-afef-f8b6b079fb92",
      "name": "Validate Input1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        1504
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/on_page/task_post",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify([{\"target\": \"https://\" + $json.target_url, \"max_crawl_pages\": 30, \"load_resources\": false, \"enable_javascript\": true, \"validate_micromarkup\": true, \"check_spell\": false, \"check_spell_language\": \"en\"}]) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -368,
        1264
      ],
      "id": "40b2441e-ef49-4fd9-9a6b-e78dd4f77d11",
      "name": "OnPage Task Post1",
      "credentials": {
        "httpBasicAuth": {
          "id": "861cV9KnepswAcIx",
          "name": "DataForSeo"
        },
        "httpHeaderAuth": {
          "id": "C6umn6JHLnv6bU1q",
          "name": "DataForSeo"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/dataforseo_labs/google/historical_rank_overview/live",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify([{\"target\": $json.target_url, \"language_name\": \"English\", \"location_name\": $json.location, \"date_from\": $json.date_from, \"date_to\": $json.date_to}]) }}",
        "options": {}
      },
      "id": "ca42f434-751b-4713-9ffc-32805121c07d",
      "name": "Domain Rank Overview1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        112,
        1312
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "861cV9KnepswAcIx",
          "name": "DataForSeo"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/dataforseo_labs/google/ranked_keywords/live",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify([{\"target\": $json.target_url, \"location_name\": $json.location, \"language_name\": \"English\", \"limit\": 1000, \"filters\": [\"keyword_data.keyword_info.search_volume\", \">\", 0], \"order_by\": [\"ranked_serp_element.serp_item.rank_absolute,asc\"]}]) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        112,
        1504
      ],
      "id": "db5314cd-c7fe-4b92-8ce7-3dec9d5a42a1",
      "name": "Ranked Keywords1",
      "credentials": {
        "httpBasicAuth": {
          "id": "861cV9KnepswAcIx",
          "name": "DataForSeo"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/backlinks/history/live",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify([{\"target\": $json.target_url, \"date_from\": $json.date_from, \"date_to\": $json.date_to}]) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        112,
        1696
      ],
      "id": "5dc121fb-69ea-4341-ad79-d28daedb85dc",
      "name": "Backlinks Summary1",
      "credentials": {
        "httpBasicAuth": {
          "id": "861cV9KnepswAcIx",
          "name": "DataForSeo"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Wait for OnPage task to complete (5 minutes)\nawait new Promise(resolve => setTimeout(resolve, 300000));\nreturn $input.all();"
      },
      "id": "1f093a53-adf0-46c0-94c6-72a7dca49c02",
      "name": "Wait for OnPage Analysis1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        1216
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.dataforseo.com/v3/on_page/summary",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify([{\"id\": $json.tasks[0].id}]) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        128,
        1008
      ],
      "id": "63be924e-674c-4f61-94a6-e73966df5f29",
      "name": "OnPage Summary1",
      "credentials": {
        "httpBasicAuth": {
          "id": "861cV9KnepswAcIx",
          "name": "DataForSeo"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Historical Domain Rank Overview\nconst input = $input.first().json;\n\n// Check if API call was successful\nif (input.status_code !== 20000 || !input.tasks?.[0]?.result?.[0]) {\n  return {\n    success: false,\n    error: input.tasks?.[0]?.status_message || 'Historical Domain Rank API failed',\n    domainRank: null\n  };\n}\n\nconst result = input.tasks[0].result[0];\nconst items = result.items || [];\n\n// Get the most recent and oldest data points\nconst sortedItems = items.sort((a, b) => new Date(b.date) - new Date(a.date));\nconst latestData = sortedItems[0] || {};\nconst oldestData = sortedItems[sortedItems.length - 1] || {};\n\nconst latestMetrics = latestData.metrics?.organic || {};\nconst oldestMetrics = oldestData.metrics?.organic || {};\n\n// Calculate changes over the period\nconst keywordChange = (latestMetrics.count || 0) - (oldestMetrics.count || 0);\nconst trafficChange = (latestMetrics.etv || 0) - (oldestMetrics.etv || 0);\n\nreturn {\n  success: true,\n  domainRank: {\n    target: result.target,\n    location: result.location_code,\n    language: result.language_code,\n    \n    // Date range\n    dateFrom: $('Validate Input1').first().json.date_from || 'N/A',\n    dateTo: $('Validate Input1').first().json.date_to || 'N/A',\n    dataPoints: items.length,\n    \n    // Current (Latest) Positions\n    positions: {\n      top3: (latestMetrics.pos_1 || 0) + (latestMetrics.pos_2_3 || 0),\n      top10: (latestMetrics.pos_1 || 0) + (latestMetrics.pos_2_3 || 0) + (latestMetrics.pos_4_10 || 0),\n      page2: latestMetrics.pos_11_20 || 0,\n      page3: latestMetrics.pos_21_30 || 0,\n      page4Plus: (latestMetrics.pos_31_40 || 0) + (latestMetrics.pos_41_50 || 0) + \n                 (latestMetrics.pos_51_60 || 0) + (latestMetrics.pos_61_70 || 0) + \n                 (latestMetrics.pos_71_80 || 0) + (latestMetrics.pos_81_90 || 0) + \n                 (latestMetrics.pos_91_100 || 0)\n    },\n    \n    // Traffic & Value (Current)\n    estimatedTrafficValue: Math.round(latestMetrics.etv || 0),\n    totalKeywords: latestMetrics.count || 0,\n    \n    // Changes Over Period\n    periodChanges: {\n      keywordsChange: keywordChange,\n      trafficValueChange: Math.round(trafficChange),\n      keywordsStart: oldestMetrics.count || 0,\n      keywordsEnd: latestMetrics.count || 0,\n      trafficStart: Math.round(oldestMetrics.etv || 0),\n      trafficEnd: Math.round(latestMetrics.etv || 0)\n    },\n    \n    // Movement (from latest data)\n    movement: {\n      newKeywords: latestMetrics.is_new || 0,\n      improved: latestMetrics.is_up || 0,\n      declined: latestMetrics.is_down || 0,\n      lost: latestMetrics.is_lost || 0\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        1312
      ],
      "id": "5b6d7633-9702-4ac7-bd59-f09fac5e8cc2",
      "name": "Parse Domain Rank1"
    },
    {
      "parameters": {
        "jsCode": "// Parse Ranked Keywords - Extract and analyze keyword data\nconst input = $input.first().json;\n\n// Check if API call was successful\nif (input.status_code !== 20000 || !input.tasks?.[0]?.result?.[0]) {\n  return {\n    success: false,\n    error: input.tasks?.[0]?.status_message || 'Ranked Keywords API failed',\n    keywords: null\n  };\n}\n\nconst result = input.tasks[0].result[0];\nconst items = result.items || [];\nconst target = result.target || '';\n\n// Extract domain name for branded keyword detection\nconst domainName = target.replace(/^www\\./, '').split('.')[0].toLowerCase();\n\n// Initialize counters\nlet brandedCount = 0;\nlet unbrandedCount = 0;\nlet totalSearchVolume = 0;\nlet totalETV = 0;\n\n// Position buckets\nconst positionBuckets = {\n  top3: [],\n  top10: [],\n  page2Opportunities: [],  // Positions 11-20 - Ready to push!\n  page3: [],\n  deepPositions: []\n};\n\n// Process each keyword\nconst processedKeywords = items.map(item => {\n  const keyword = item.keyword_data?.keyword || '';\n  const keywordLower = keyword.toLowerCase();\n  const searchVolume = item.keyword_data?.keyword_info?.search_volume || 0;\n  const rank = item.ranked_serp_element?.serp_item?.rank_absolute || 999;\n  const url = item.ranked_serp_element?.serp_item?.url || '';\n  const etv = item.ranked_serp_element?.serp_item?.etv || 0;\n  const cpc = item.keyword_data?.keyword_info?.cpc || 0;\n  const difficulty = item.keyword_data?.keyword_properties?.keyword_difficulty || 0;\n  const intent = item.keyword_data?.search_intent_info?.main_intent || 'unknown';\n  const isNew = item.ranked_serp_element?.serp_item?.rank_changes?.is_new || false;\n  \n  // Determine if branded\n  const isBranded = keywordLower.includes(domainName);\n  if (isBranded) {\n    brandedCount++;\n  } else {\n    unbrandedCount++;\n  }\n  \n  totalSearchVolume += searchVolume;\n  totalETV += etv;\n  \n  const keywordData = {\n    keyword,\n    rank,\n    searchVolume,\n    etv: Math.round(etv * 100) / 100,\n    cpc: Math.round(cpc * 100) / 100,\n    difficulty,\n    intent,\n    url,\n    isBranded,\n    isNew\n  };\n  \n  // Categorize by position\n  if (rank <= 3) {\n    positionBuckets.top3.push(keywordData);\n  } else if (rank <= 10) {\n    positionBuckets.top10.push(keywordData);\n  } else if (rank <= 20) {\n    positionBuckets.page2Opportunities.push(keywordData);\n  } else if (rank <= 30) {\n    positionBuckets.page3.push(keywordData);\n  } else {\n    positionBuckets.deepPositions.push(keywordData);\n  }\n  \n  return keywordData;\n});\n\n// Sort opportunities by search volume (highest first)\npositionBuckets.page2Opportunities.sort((a, b) => b.searchVolume - a.searchVolume);\npositionBuckets.top10.sort((a, b) => a.rank - b.rank);\npositionBuckets.top3.sort((a, b) => a.rank - b.rank);\n\n// Calculate branded/unbranded percentages\nconst totalKeywords = items.length;\nconst brandedPercent = totalKeywords > 0 ? Math.round((brandedCount / totalKeywords) * 100) : 0;\nconst unbrandedPercent = totalKeywords > 0 ? Math.round((unbrandedCount / totalKeywords) * 100) : 0;\n\nreturn {\n  success: true,\n  keywords: {\n    // Summary Stats\n    summary: {\n      totalKeywords,\n      totalSearchVolume,\n      totalETV: Math.round(totalETV * 100) / 100,\n      brandedCount,\n      unbrandedCount,\n      brandedPercent,\n      unbrandedPercent\n    },\n    \n    // Position Distribution\n    distribution: {\n      top3Count: positionBuckets.top3.length,\n      top10Count: positionBuckets.top3.length + positionBuckets.top10.length,\n      page2Count: positionBuckets.page2Opportunities.length,\n      page3Count: positionBuckets.page3.length,\n      deepCount: positionBuckets.deepPositions.length\n    },\n    \n    // Top Performers (Top 10 by rank)\n    topPerformers: [...positionBuckets.top3, ...positionBuckets.top10].slice(0, 10),\n    \n    // Quick Win Opportunities (Page 2 keywords with high volume)\n    quickWinOpportunities: positionBuckets.page2Opportunities.slice(0, 10),\n    \n    // All keywords for detailed analysis\n    allKeywords: processedKeywords.slice(0, 50)  // Limit to 50 for report\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        1504
      ],
      "id": "486a3676-1158-4f8d-8524-64aa0fa6f5c7",
      "name": "Parse Ranked Keywords1"
    },
    {
      "parameters": {
        "jsCode": "// Parse OnPage Summary - Extract technical SEO metrics\nconst input = $input.first().json;\nconst task = input.tasks?.[0];\n\n// Check if task is still in queue\nif (task?.status_code === 40602) {\n  return {\n    success: false,\n    status: 'in_queue',\n    message: 'OnPage analysis is still processing. Please wait and retry.',\n    onPage: null\n  };\n}\n\n// Check if API call was successful\nif (input.status_code !== 20000 || !task?.result?.[0]) {\n  return {\n    success: false,\n    status: 'error',\n    error: task?.status_message || 'OnPage API failed',\n    onPage: null\n  };\n}\n\nconst result = task.result[0];\nconst crawl = result.crawl_progress || {};\n\nreturn {\n  success: true,\n  status: 'complete',\n  onPage: {\n    // Crawl Info\n    crawlProgress: crawl,\n    pagesCrawled: result.pages_crawled || 0,\n    pagesInQueue: result.pages_in_queue || 0,\n    \n    // Technical Issues\n    issues: {\n      critical: result.page_metrics?.checks?.critical || 0,\n      warnings: result.page_metrics?.checks?.warnings || 0,\n      notices: result.page_metrics?.checks?.notices || 0\n    },\n    \n    // Page Metrics\n    pageMetrics: {\n      brokenLinks: result.page_metrics?.broken_links || 0,\n      brokenResources: result.page_metrics?.broken_resources || 0,\n      duplicateTitle: result.page_metrics?.duplicate_title || 0,\n      duplicateDescription: result.page_metrics?.duplicate_description || 0,\n      duplicateContent: result.page_metrics?.duplicate_content || 0\n    },\n    \n    // Performance\n    performance: {\n      avgPageLoadTime: result.page_metrics?.page_timing?.time_to_interactive || 0,\n      https: result.page_metrics?.checks?.no_https || 0,\n      mobileUsability: result.page_metrics?.checks?.is_mobile_friendly || false\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        1008
      ],
      "id": "0e9ece8d-b93e-4266-b6e1-3bb0db80afcc",
      "name": "Parse OnPage Summary1"
    },
    {
      "parameters": {
        "jsCode": "// Parse Historical Backlinks\nconst input = $input.first().json;\nconst task = input.tasks?.[0];\n\nif (input.status_code !== 20000 || !task?.result?.[0]) {\n  return {\n    success: false,\n    error: task?.status_message || 'Historical Backlinks API failed',\n    backlinks: null\n  };\n}\n\nconst result = task.result[0];\nconst items = result.items || [];\n\n// Sort by date\nconst sortedItems = items.sort((a, b) => new Date(b.date) - new Date(a.date));\nconst latestData = sortedItems[0] || {};\nconst oldestData = sortedItems[sortedItems.length - 1] || {};\n\n// Calculate changes\nconst backlinksChange = (latestData.backlinks || 0) - (oldestData.backlinks || 0);\nconst domainsChange = (latestData.referring_domains || 0) - (oldestData.referring_domains || 0);\n\nreturn {\n  success: true,\n  backlinks: {\n    // Date Range\n    dateFrom: oldestData.date || 'N/A',\n    dateTo: latestData.date || 'N/A',\n    dataPoints: items.length,\n    \n    // Current (Latest) Metrics\n    totalBacklinks: latestData.backlinks || 0,\n    referringDomains: latestData.referring_domains || 0,\n    rank: latestData.rank || 0,\n    \n    // Changes Over Period\n    periodChanges: {\n      backlinksChange: backlinksChange,\n      domainsChange: domainsChange,\n      backlinksStart: oldestData.backlinks || 0,\n      backlinksEnd: latestData.backlinks || 0,\n      domainsStart: oldestData.referring_domains || 0,\n      domainsEnd: latestData.referring_domains || 0\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        1696
      ],
      "id": "33ec2808-be5c-497f-8ce3-6b0cbd92cb57",
      "name": "Parse Backlinks Summary1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        704,
        1232
      ],
      "id": "850f81ac-214a-4463-83b4-264d7a550503",
      "name": "Merge3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        704,
        1568
      ],
      "id": "f11f9614-ce56-4219-b6ff-d140df69071b",
      "name": "Merge4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        832,
        1408
      ],
      "id": "0c00410c-91af-44c8-b1a3-4fced553514e",
      "name": "Merge5"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate All Data - Combine into single object\nconst allInputs = $input.all();\n\n// Get data from Validate Input\nconst validateInputData = $('Validate Input1').first().json;\n\nconst aggregatedData = {\n  onPage: null,\n  domainRank: null,\n  keywords: null,\n  backlinks: null,\n  metadata: {\n    generatedAt: new Date().toISOString(),\n    reportType: validateInputData.report_type || 'progress',\n    reportAudience: validateInputData.report_audience || 'client',\n    dateFrom: validateInputData.date_from,\n    dateTo: validateInputData.date_to,\n    targetUrl: validateInputData.target_url,\n    isProgressReport: validateInputData.is_progress_report || false\n  }\n};\n\nfor (const item of allInputs) {\n  const data = item.json;\n  \n  if (data.onPage !== undefined) {\n    aggregatedData.onPage = data;\n  } else if (data.domainRank !== undefined) {\n    aggregatedData.domainRank = data;\n  } else if (data.keywords !== undefined) {\n    aggregatedData.keywords = data;\n  } else if (data.backlinks !== undefined) {\n    aggregatedData.backlinks = data;\n  }\n}\n\nreturn aggregatedData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        1408
      ],
      "id": "8726d328-126d-4a3c-a9ed-8a64da0b0db5",
      "name": "Aggregate Data1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 4000,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2896,
        1552
      ],
      "id": "a628c7e2-c365-4b38-a633-cc7f0ba9e504",
      "name": "GPT-4.1 mini1",
      "credentials": {
        "openAiApi": {
          "id": "H5LXr3raFFEHNnlb",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build AI Prompt - SEO Performance Report with Audience-Specific Focus\nconst data = $input.first().json;\n\n// Extract data\nconst domainRank = data.domainRank?.domainRank || {};\nconst keywords = data.keywords?.keywords || {};\nconst backlinks = data.backlinks?.backlinks || {};\nconst onPage = data.onPage?.onPage || {};\nconst metadata = data.metadata || {};\n\n// Previous Report Data\nconst previousReport = data.previousReport || {};\nconst hasPreviousReport = previousReport.hasPreviousReport || false;\nconst previousReportContent = previousReport.content || null;\nconst previousReportName = previousReport.reportName || null;\nconst previousReportDate = previousReport.reportDate || null;\n\n// NEW: Get report audience type\nconst reportAudience = metadata.reportAudience || 'client';\nconst isClientReport = reportAudience === 'client';\nconst isInternalReport = reportAudience === 'internal';\n\n// Get date range from metadata\nconst dateFrom = metadata.dateFrom || 'N/A';\nconst dateTo = metadata.dateTo || 'N/A';\n\n// Format date range for display\nconst formatDate = (dateStr) => {\n  if (!dateStr || dateStr === 'N/A') return 'N/A';\n  const date = new Date(dateStr);\n  const options = { day: 'numeric', month: 'long', year: 'numeric' };\n  return date.toLocaleDateString('en-GB', options);\n};\n\nconst formattedDateFrom = formatDate(dateFrom);\nconst formattedDateTo = formatDate(dateTo);\nconst reportPeriod = `${formattedDateFrom} - ${formattedDateTo}`;\n\n// Format keywords lists\nconst formatKeywords = (kwList, limit = 10) => {\n  if (!kwList || kwList.length === 0) return '*No keywords in this category*';\n  return kwList.slice(0, limit).map((kw, i) => \n    `${i + 1}. **${kw.keyword}** (Rank: ${kw.rank}, Volume: ${kw.searchVolume}/mo, CPC: £${kw.cpc})`\n  ).join('\\n');\n};\n\n// Calculate trends (same as before)\nconst trafficChange = domainRank.periodChanges?.trafficValueChange || 0;\nconst trafficStart = domainRank.periodChanges?.trafficStart || 0;\nconst trafficTrend = trafficStart > 0 ? Math.round((trafficChange / trafficStart) * 100) : 0;\nconst trafficTrendStr = trafficTrend >= 0 ? `+${trafficTrend}%` : `${trafficTrend}%`;\n\nconst keywordChange = domainRank.periodChanges?.keywordsChange || 0;\nconst keywordStart = domainRank.periodChanges?.keywordsStart || 0;\nconst keywordTrend = keywordStart > 0 ? Math.round((keywordChange / keywordStart) * 100) : 0;\nconst keywordTrendStr = keywordTrend >= 0 ? `+${keywordTrend}%` : `${keywordTrend}%`;\n\nconst backlinksChange = backlinks.periodChanges?.backlinksChange || 0;\nconst backlinksStart = backlinks.periodChanges?.backlinksStart || 0;\nconst backlinksTrend = backlinksStart > 0 ? Math.round((backlinksChange / backlinksStart) * 100) : 0;\nconst backlinksTrendStr = backlinksTrend >= 0 ? `+${backlinksTrend}%` : `${backlinksTrend}%`;\n\nconst domainsChange = backlinks.periodChanges?.domainsChange || 0;\nconst domainsStart = backlinks.periodChanges?.domainsStart || 0;\nconst domainsTrend = domainsStart > 0 ? Math.round((domainsChange / domainsStart) * 100) : 0;\nconst domainsTrendStr = domainsTrend >= 0 ? `+${domainsTrend}%` : `${domainsTrend}%`;\n\n// Health score\nconst criticalIssues = onPage.issues?.critical || 0;\nconst warnings = onPage.issues?.warnings || 0;\nconst healthScore = Math.max(0, 100 - (criticalIssues * 5) - (warnings * 2));\n\n// Intent distribution\nconst allKeywords = keywords.allKeywords || [];\nconst totalKw = allKeywords.length || 1;\nconst informationalKw = allKeywords.filter(k => k.intent === 'informational').length;\nconst commercialKw = allKeywords.filter(k => k.intent === 'commercial').length;\nconst navigationalKw = allKeywords.filter(k => k.intent === 'navigational').length;\nconst transactionalKw = allKeywords.filter(k => k.intent === 'transactional').length;\n\nconst informationalPercent = Math.round((informationalKw / totalKw) * 100) || 0;\nconst commercialPercent = Math.round((commercialKw / totalKw) * 100) || 0;\nconst navigationalPercent = Math.round((navigationalKw / totalKw) * 100) || 0;\nconst transactionalPercent = Math.round((transactionalKw / totalKw) * 100) || 0;\n\n// ========== AUDIENCE-SPECIFIC INSTRUCTIONS ==========\nlet audienceInstructions = '';\nlet toneGuidelines = '';\nlet focusAreas = '';\n\nif (isClientReport) {\n  audienceInstructions = `\n## 🎯 REPORT AUDIENCE: CLIENT-FACING\n\nThis report is for the CLIENT. Follow these guidelines:`;\n\n  toneGuidelines = `\n### Tone & Style:\n- Professional, positive, and encouraging\n- Focus on achievements and progress\n- Use confident, reassuring language\n- Celebrate wins and improvements\n- Frame challenges as \"opportunities for growth\"`;\n\n  focusAreas = `\n### Content Focus (CLIENT):\n- **EMPHASISE:** Gains, improvements, positive trends, achievements\n- **HIGHLIGHT:** Traffic growth, new keywords, ranking improvements\n- **DOWNPLAY:** Losses (mention briefly, don't dwell)\n- **FRAME ISSUES AS:** \"Areas for optimisation\" or \"Opportunities\"\n- **RECOMMENDATIONS:** Focus on growth opportunities, not problems\n- **OVERALL TONE:** Optimistic progress report showing value delivered\n\n### What to Avoid (CLIENT):\n- Don't use alarming language about losses\n- Don't list every single issue or error\n- Don't be overly technical\n- Don't focus on negatives without solutions`;\n\n} else {\n  audienceInstructions = `\n## 🔍 REPORT AUDIENCE: INTERNAL TEAM\n\nThis report is for INTERNAL use. Follow these guidelines:`;\n\n  toneGuidelines = `\n### Tone & Style:\n- Honest, analytical, and direct\n- No sugar-coating - show the real picture\n- Technical and detailed where needed\n- Critical assessment of performance\n- Identify problems clearly`;\n\n  focusAreas = `\n### Content Focus (INTERNAL):\n- **ANALYSE HONESTLY:** Both gains AND losses in equal detail\n- **HIGHLIGHT PROBLEMS:** Technical issues, ranking drops, lost keywords\n- **DEEP DIVE:** Why things declined, what caused issues\n- **TECHNICAL DETAILS:** Error codes, specific pages affected, crawl issues\n- **RECOMMENDATIONS:** Prioritised action items with urgency levels\n- **OVERALL TONE:** Honest assessment for team action\n\n### Additional Internal Sections:\n- List ALL critical technical issues with details\n- Show keyword losses and why they might have occurred\n- Identify content gaps and weaknesses\n- Competitor implications (if visible from data)\n- Resource requirements for fixes\n- Priority ranking of issues (Critical/High/Medium/Low)`;\n}\n\n// Previous report section\nlet previousReportSection = '';\nif (hasPreviousReport && previousReportContent) {\n  previousReportSection = `\n---\n\n## 📊 PREVIOUS REPORT FOR COMPARISON\n\n**Previous Report:** ${previousReportName || 'Previous SEO Report'}\n**Report Date:** ${formatDate(previousReportDate)}\n\n### PREVIOUS REPORT CONTENT:\n\\`\\`\\`\n${previousReportContent}\n\\`\\`\\`\n\n---\n`;\n}\n\n// ========== BUILD SYSTEM PROMPT ==========\nconst systemPrompt = `You are a Senior UK SEO Analyst creating a ${isClientReport ? 'CLIENT-FACING' : 'INTERNAL TEAM'} performance report.\n\nYour expertise includes:\n- Performance tracking and trend analysis\n- Technical SEO health monitoring\n- Keyword ranking analysis\n- Backlink profile assessment\n- Strategic recommendations\n${hasPreviousReport ? '- Period-over-period comparison' : ''}\n\n${isClientReport ? `\nCLIENT REPORT GUIDELINES:\n- Be positive and focus on achievements\n- Highlight progress and wins\n- Frame challenges as opportunities\n- Use encouraging, professional language\n- Show value delivered to the client\n- Keep technical jargon minimal\n` : `\nINTERNAL REPORT GUIDELINES:\n- Be brutally honest about performance\n- Highlight ALL issues, losses, and problems\n- Provide detailed technical analysis\n- Include actionable items with priorities\n- Don't hide bad news - the team needs to know\n- Be specific about what needs fixing and why\n`}\n\nReport Format Requirements:\n- Use UK English spelling (optimisation, analyse, colour, etc.)\n- Use clean, scannable tables for metrics\n- Use clear section headings with numbers\n- Include trend indicators (↑ ↓ →)\n- Use **bold** for key metrics\n- Use £ for currency values`;\n\n// ========== BUILD USER PROMPT ==========\nconst userPrompt = `# SEO ${isClientReport ? 'Performance' : 'Analysis'} Report: ${domainRank.target || 'Unknown Website'}\n\n**Reporting Period:** ${reportPeriod}\n**Report Type:** ${isClientReport ? '📊 Client Report' : '🔍 Internal Analysis'}\n${hasPreviousReport ? `**Includes:** Comparison with previous report` : ''}\n${audienceInstructions}\n${toneGuidelines}\n${focusAreas}\n${previousReportSection}\n---\n\n## RAW DATA FOR ANALYSIS\n\n### Authority & Traffic Data\n- Target Domain: ${domainRank.target || 'N/A'}\n- Estimated Traffic Value: £${domainRank.estimatedTrafficValue || 0}\n- Total Ranking Keywords: ${domainRank.totalKeywords || 0}\n- Keywords Start of Period: ${domainRank.periodChanges?.keywordsStart || 0}\n- Keywords End of Period: ${domainRank.periodChanges?.keywordsEnd || 0}\n- Traffic Value Start: £${domainRank.periodChanges?.trafficStart || 0}\n- Traffic Value End: £${domainRank.periodChanges?.trafficEnd || 0}\n\n### Position Distribution\n- Top 3 Positions: ${domainRank.positions?.top3 || 0}\n- Top 10 Positions: ${domainRank.positions?.top10 || 0}\n- Page 2 (11-20): ${domainRank.positions?.page2 || 0}\n- Page 3 (21-30): ${domainRank.positions?.page3 || 0}\n- Page 4+ (31+): ${domainRank.positions?.page4Plus || 0}\n\n### Keyword Movement (During Period)\n- New Keywords: +${domainRank.movement?.newKeywords || 0}\n- Improved Positions: +${domainRank.movement?.improved || 0}\n- Declined Positions: -${domainRank.movement?.declined || 0}\n- Lost Keywords: -${domainRank.movement?.lost || 0}\n\n### Keyword Analysis\n- Total Keywords: ${keywords.summary?.totalKeywords || 0}\n- Total Search Volume: ${keywords.summary?.totalSearchVolume || 0}/month\n- Branded: ${keywords.summary?.brandedCount || 0} (${keywords.summary?.brandedPercent || 0}%)\n- Unbranded: ${keywords.summary?.unbrandedCount || 0} (${keywords.summary?.unbrandedPercent || 0}%)\n\n### Search Intent Distribution\n- Informational: ${informationalKw} (${informationalPercent}%)\n- Commercial: ${commercialKw} (${commercialPercent}%)\n- Navigational: ${navigationalKw} (${navigationalPercent}%)\n- Transactional: ${transactionalKw} (${transactionalPercent}%)\n\n### Top Performing Keywords\n${formatKeywords(keywords.topPerformers, 10)}\n\n### Page 2 Opportunities\n${formatKeywords(keywords.quickWinOpportunities, 10)}\n\n### Backlink Profile\n- Total Backlinks: ${backlinks.totalBacklinks || 0}\n- Referring Domains: ${backlinks.referringDomains || 0}\n- Domain Rank: ${backlinks.rank || 0}\n- Backlinks Change: ${backlinksChange} (${backlinksTrendStr})\n- Domains Change: ${domainsChange} (${domainsTrendStr})\n\n### Technical SEO (OnPage)\n- Site Health Score: ${healthScore}%\n- Pages Crawled: ${onPage.pagesCrawled || 0}\n- Critical Issues: ${onPage.issues?.critical || 0}\n- Warnings: ${onPage.issues?.warnings || 0}\n- Notices: ${onPage.issues?.notices || 0}\n- Broken Links: ${onPage.pageMetrics?.brokenLinks || 0}\n- Broken Resources: ${onPage.pageMetrics?.brokenResources || 0}\n- Duplicate Titles: ${onPage.pageMetrics?.duplicateTitle || 0}\n- Duplicate Descriptions: ${onPage.pageMetrics?.duplicateDescription || 0}\n\n### Calculated Trends\n- Traffic Trend: ${trafficTrendStr}\n- Keyword Trend: ${keywordTrendStr}\n- Backlinks Trend: ${backlinksTrendStr}\n- Domains Trend: ${domainsTrendStr}\n\n---\n\n## REQUIRED REPORT STRUCTURE\n\n${isClientReport ? `\n### CLIENT REPORT STRUCTURE:\n\n1. **Executive Summary** - Positive overview, highlight wins\n2. **Domain & Traffic Overview** - Focus on growth metrics\n3. **Keyword Performance Highlights** - Top rankings, new wins\n4. **Technical Health Summary** - Brief, non-alarming\n5. **Backlink Profile** - Growth focus\n6. **Period Achievements** - Celebrate the wins! 🎉\n7. **Growth Opportunities** - Frame as exciting next steps\n${hasPreviousReport ? `8. **Progress Since Last Report** - Show improvement\n9. **Next Steps** - Positive forward-looking recommendations` : `8. **Recommended Next Steps** - Growth-focused actions`}\n` : `\n### INTERNAL REPORT STRUCTURE:\n\n1. **Executive Summary** - Honest overall assessment\n2. **Domain & Traffic Analysis** - Full picture, gains AND losses\n3. **Keyword Performance Deep Dive** - Wins, losses, why\n4. **Technical Issues & Errors** - FULL LIST with priorities\n5. **Backlink Analysis** - Quality assessment, concerns\n6. **Problem Areas** - What's not working and why\n7. **Competitor Implications** - If visible from data\n${hasPreviousReport ? `8. **Comparison vs Previous Report** - Honest progress check\n9. **Action Items** - Prioritised with urgency levels (Critical/High/Medium/Low)` : `8. **Prioritised Action Items** - With urgency levels`}\n10. **Resource Requirements** - What's needed to fix issues\n`}\n\n---\n\n## FORMATTING RULES:\n1. UK English spelling\n2. Use tables where appropriate\n3. **Bold** key metrics\n4. Trend indicators: ↑ ↓ →\n5. Be specific with numbers\n${isClientReport ? `6. Keep tone positive and encouraging\n7. Frame negatives as opportunities\n8. Celebrate achievements` : `6. Be direct and honest\n7. Don't hide bad news\n8. Include ALL technical issues`}\n\nGenerate the complete ${isClientReport ? 'client' : 'internal'} SEO report now.`;\n\nreturn {\n  systemPrompt: systemPrompt,\n  userPrompt: userPrompt,\n  targetWebsite: domainRank.target || 'Unknown',\n  dateFrom: dateFrom,\n  dateTo: dateTo,\n  reportPeriod: reportPeriod,\n  reportAudience: reportAudience,\n  hasPreviousReport: hasPreviousReport,\n  generatedAt: new Date().toISOString()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2704,
        1392
      ],
      "id": "d72ade9e-9ee6-4f54-8f4e-9b48671564ac",
      "name": "Generate Prompt1"
    },
    {
      "parameters": {
        "name": "={{ $json.filename }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1CwmxaJ5LEvokptosoiNx1rHXC-wL110-",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3312,
        1392
      ],
      "id": "04ac38fa-1ef6-4ea7-bb84-832a72fefb7d",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "eBh6pygRVxYps7mk",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Convert LLM output to Markdown file\nconst markdown = $input.first().json.text;\nconst website = $('Generate Prompt1').first().json.targetWebsite || 'website';\nconst validateInput = $('Validate Input1').first().json;\nconst dateFrom = validateInput.date_from || '';\nconst dateTo = validateInput.date_to || '';\nconst date = new Date().toISOString().split('T')[0];\n\n// Create filename with SEO_Performance_Report pattern\nconst cleanWebsite = website.replace(/[^a-zA-Z0-9]/g, '_').replace(/_+/g, '_');\nconst dateRange = dateFrom && dateTo ? `_${dateFrom}_to_${dateTo}` : '';\nconst filename = `SEO_Performance_Report_${cleanWebsite}${dateRange}_${date}.md`;\n\n// Convert markdown text to base64 for binary\nconst base64Content = Buffer.from(markdown, 'utf8').toString('base64');\n\nreturn {\n  json: {\n    filename: filename,\n    targetWebsite: website,\n    generatedAt: date,\n    dateFrom: dateFrom,\n    dateTo: dateTo,\n    markdownContent: markdown\n  },\n  binary: {\n    data: {\n      data: base64Content,\n      mimeType: 'text/markdown',\n      fileName: filename,\n      fileExtension: 'md'\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3168,
        1392
      ],
      "id": "de8e4350-2056-49e3-9ea9-b1eb835ebc67",
      "name": "Convert To Markdown1"
    },
    {
      "parameters": {
        "fromEmail": "automation@programmx.com",
        "toEmail": "={{ $(\"Validate Input1\").first().json.email }}",
        "subject": "=SEO Performance Report - {{ $('Convert To Markdown1').first().json.targetWebsite }} ({{ $('Convert To Markdown1').first().json.dateFrom }} to {{ $('Convert To Markdown1').first().json.dateTo }})",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: linear-gradient(135deg, #1a365d 0%, #2c5282 100%); color: white; padding: 30px; border-radius: 10px 10px 0 0; text-align: center; }\n    .content { background: #f8f9fa; padding: 30px; border-radius: 0 0 10px 10px; }\n    .button { display: inline-block; background: #2b6cb0; color: white; padding: 15px 30px; text-decoration: none; border-radius: 5px; font-weight: bold; margin: 20px 0; }\n    .footer { text-align: center; margin-top: 20px; color: #718096; font-size: 12px; }\n    .highlight { background: #ebf8ff; padding: 15px; border-radius: 5px; border-left: 4px solid #2b6cb0; margin: 15px 0; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>📊 SEO Performance Report Ready!</h1>\n    </div>\n    <div class=\"content\">\n      <p>Hello,</p>\n      \n      <p>Your comprehensive SEO Performance Report has been generated and saved.</p>\n      \n      <div class=\"highlight\">\n        <h3 style=\"margin-top: 0;\">📋 Report Details:</h3>\n        <ul style=\"margin-bottom: 0;\">\n          <li><strong>Website:</strong> {{ $('Convert To Markdown1').first().json.targetWebsite }}</li>\n          <li><strong>Period:</strong> {{ $('Convert To Markdown1').first().json.dateFrom }} to {{ $('Convert To Markdown1').first().json.dateTo }}</li>\n          <li><strong>Generated:</strong> {{ $now.format('d MMMM yyyy') }}</li>\n          <li><strong>File:</strong> {{ $('Convert To Markdown1').first().json.filename }}</li>\n        </ul>\n      </div>\n      \n      <p style=\"text-align: center;\">\n        <a href=\"https://drive.google.com/file/d/{{ $('Google Drive1').first().json.id }}/view\" class=\"button\">\n          📄 View Report in Google Drive\n        </a>\n      </p>\n      \n      <h3>📈 What's Included:</h3>\n      <ul>\n        <li>Executive Summary & Overall Status</li>\n        <li>Domain & Traffic Overview with Trends</li>\n        <li>Organic Keyword Performance Analysis</li>\n        <li>Technical SEO Health Assessment</li>\n        <li>Backlink Profile Analysis</li>\n        <li>Summary of Period Gains</li>\n        <li>Strategic Recommendations</li>\n      </ul>\n      \n      <p>This report covers the period from <strong>{{ $('Convert To Markdown1').first().json.dateFrom }}</strong> to <strong>{{ $('Convert To Markdown1').first().json.dateTo }}</strong>.</p>\n    </div>\n    <div class=\"footer\">\n      <p>This report was automatically generated by our SEO monitoring system.</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        3472,
        1392
      ],
      "id": "ad4a8a91-2fa3-48c9-a03e-59c4b693ac45",
      "name": "Send Report1",
      "webhookId": "8cc4bd9c-86ee-4316-9d5d-009ddd4195b4",
      "credentials": {
        "smtp": {
          "id": "Powsux0m0r1TlNbw",
          "name": "SMTP account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "\t\t\t\t\t\t\t\t\t\t\tClient Progress Report\nTesting URL:\ncurl -X POST \"https://n8n.programmx.com/webhook-test/OnboardingReport\" -H \"Content-Type: application/json\" -d \"{\\\"target_url\\\":\\\"https://www.croydonathletic.com/\\\",\\\"email\\\":\\\"ramzanx0553@gmail.com\\\",\\\"location\\\":\\\"United Kingdom\\\",\\\"report_type\\\":\\\"onboarding\\\",\\\"report_audience\\\":\\\"client\\\"}\"\n\nProduction URL:\ncurl -X POST \"https://n8n.programmx.com/webhook/OnboardingReport\" -H \"Content-Type: application/json\" -d \"{\\\"target_url\\\":\\\"https://www.croydonathletic.com/\\\",\\\"email\\\":\\\"ramzanx0553@gmail.com\\\",\\\"location\\\":\\\"United Kingdom\\\",\\\"report_type\\\":\\\"onboarding\\\",\\\"report_audience\\\":\\\"client\\\"}\"\n\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t\t\tInternal Progress Report\nTesting URL:\ncurl -X POST \"https://n8n.programmx.com/webhook-test/OnboardingReport\" -H \"Content-Type: application/json\" -d \"{\\\"target_url\\\":\\\"https://www.croydonathletic.com/\\\",\\\"email\\\":\\\"ramzanx0553@gmail.com\\\",\\\"location\\\":\\\"United Kingdom\\\",\\\"report_type\\\":\\\"onboarding\\\",\\\"report_audience\\\":\\\"internal\\\"}\"\n\nProduction URL:\ncurl -X POST \"https://n8n.programmx.com/webhook/OnboardingReport\" -H \"Content-Type: application/json\" -d \"{\\\"target_url\\\":\\\"https://www.croydonathletic.com/\\\",\\\"email\\\":\\\"ramzanx0553@gmail.com\\\",\\\"location\\\":\\\"United Kingdom\\\",\\\"report_type\\\":\\\"onboarding\\\",\\\"report_audience\\\":\\\"internal\\\"}\"\n",
        "height": 352,
        "width": 2016
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1024,
        -880
      ],
      "id": "eed4c597-ad45-4b8f-aa0d-1b52d3abf16c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "\t\t\t\t\t\t\t\t\t\t\tClient Progress Report\nTesting URL:\ncurl -X POST \"https://n8n.programmx.com/webhook-test/ProgressReport\" -H \"Content-Type: application/json\" -d \"{\\\"target_url\\\":\\\"https://www.croydonathletic.com/\\\",\\\"email\\\":\\\"ramzanx0553@gmail.com\\\",\\\"location\\\":\\\"United Kingdom\\\",\\\"report_type\\\":\\\"progress\\\",\\\"report_audience\\\":\\\"client\\\",\\\"date_from\\\":\\\"2025-10-01\\\",\\\"date_to\\\":\\\"2026-01-07\\\"}\"\n\nProduction URL:\ncurl -X POST \"https://n8n.programmx.com/webhook/ProgressReport\" -H \"Content-Type: application/json\" -d \"{\\\"target_url\\\":\\\"https://www.croydonathletic.com/\\\",\\\"email\\\":\\\"ramzanx0553@gmail.com\\\",\\\"location\\\":\\\"United Kingdom\\\",\\\"report_type\\\":\\\"progress\\\",\\\"report_audience\\\":\\\"client\\\",\\\"date_from\\\":\\\"2025-10-01\\\",\\\"date_to\\\":\\\"2026-01-07\\\"}\"\n\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t\t\tInternal Progress Report\nTesting URL:\ncurl -X POST \"https://n8n.programmx.com/webhook-test/ProgressReport\" -H \"Content-Type: application/json\" -d \"{\\\"target_url\\\":\\\"https://www.croydonathletic.com/\\\",\\\"email\\\":\\\"ramzanx0553@gmail.com\\\",\\\"location\\\":\\\"United Kingdom\\\",\\\"report_type\\\":\\\"progress\\\",\\\"report_audience\\\":\\\"internal\\\",\\\"date_from\\\":\\\"2025-10-01\\\",\\\"date_to\\\":\\\"2026-01-07\\\"}\"\n\nProduction URL:\ncurl -X POST \"https://n8n.programmx.com/webhook/ProgressReport\" -H \"Content-Type: application/json\" -d \"{\\\"target_url\\\":\\\"https://www.croydonathletic.com/\\\",\\\"email\\\":\\\"ramzanx0553@gmail.com\\\",\\\"location\\\":\\\"United Kingdom\\\",\\\"report_type\\\":\\\"progress\\\",\\\"report_audience\\\":\\\"internal\\\",\\\"date_from\\\":\\\"2025-10-01\\\",\\\"date_to\\\":\\\"2026-01-07\\\"}\"\n",
        "height": 448,
        "width": 2016
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -736,
        2352
      ],
      "id": "9e5bb221-013c-453b-9259-cea53682b7e7",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5cfc233a-788c-40d7-b7d1-c325f63b4665",
              "leftValue": "={{ $json.matched === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2000,
        1632
      ],
      "id": "d6e41620-2720-41b3-bcd1-8132a02b1708",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Prepare data structure without previous report\nconst aggregatedData = $('Aggregate Data1').first().json;\n\nreturn {\n  json: {\n    ...aggregatedData,\n    previousReport: {\n      hasPreviousReport: false,\n      reportName: null,\n      reportDate: null,\n      content: null\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        1712
      ],
      "id": "a886fb40-1ab1-40ce-9497-2542d3619b3e",
      "name": "Prepare Data Without Previous Report"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userPrompt }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.systemPrompt }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2608,
        1712
      ],
      "id": "3fec2fae-6614-4d27-9fa3-a1beda73d351",
      "name": "Performance Report Generator1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2608,
        1888
      ],
      "id": "39a68c21-51e2-4240-80d7-703f4261a4ce",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "H5LXr3raFFEHNnlb",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Convert LLM output to Markdown file\nconst markdown = $input.first().json.text;\nconst website = $('Generate Prompt2').first().json.targetWebsite || 'website';\nconst validateInput = $('Validate Input1').first().json;\nconst dateFrom = validateInput.date_from || '';\nconst dateTo = validateInput.date_to || '';\nconst date = new Date().toISOString().split('T')[0];\n\n// Create filename with SEO_Performance_Report pattern\nconst cleanWebsite = website.replace(/[^a-zA-Z0-9]/g, '_').replace(/_+/g, '_');\nconst dateRange = dateFrom && dateTo ? `_${dateFrom}_to_${dateTo}` : '';\nconst filename = `SEO_Performance_Report_${cleanWebsite}${dateRange}_${date}.md`;\n\n// Convert markdown text to base64 for binary\nconst base64Content = Buffer.from(markdown, 'utf8').toString('base64');\n\nreturn {\n  json: {\n    filename: filename,\n    targetWebsite: website,\n    generatedAt: date,\n    dateFrom: dateFrom,\n    dateTo: dateTo,\n    markdownContent: markdown\n  },\n  binary: {\n    data: {\n      data: base64Content,\n      mimeType: 'text/markdown',\n      fileName: filename,\n      fileExtension: 'md'\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2976,
        1712
      ],
      "id": "2d3e4c42-9088-49a7-9df2-3f02ea2203d3",
      "name": "Convert To Markdown2"
    },
    {
      "parameters": {
        "name": "={{ $json.filename }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1CwmxaJ5LEvokptosoiNx1rHXC-wL110-",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3280,
        1712
      ],
      "id": "b592f706-390d-461e-bdf2-8aa50c093d5f",
      "name": "Google Drive2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "eBh6pygRVxYps7mk",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "automation@programmx.com",
        "toEmail": "={{ $(\"Validate Input1\").first().json.email }}",
        "subject": "=SEO Performance Report - {{ $('Convert To Markdown2').first().json.targetWebsite }} ({{ $('Convert To Markdown2').first().json.dateFrom }} to {{ $('Convert To Markdown2').first().json.dateTo }})",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: linear-gradient(135deg, #1a365d 0%, #2c5282 100%); color: white; padding: 30px; border-radius: 10px 10px 0 0; text-align: center; }\n    .content { background: #f8f9fa; padding: 30px; border-radius: 0 0 10px 10px; }\n    .button { display: inline-block; background: #2b6cb0; color: white; padding: 15px 30px; text-decoration: none; border-radius: 5px; font-weight: bold; margin: 20px 0; }\n    .footer { text-align: center; margin-top: 20px; color: #718096; font-size: 12px; }\n    .highlight { background: #ebf8ff; padding: 15px; border-radius: 5px; border-left: 4px solid #2b6cb0; margin: 15px 0; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>📊 SEO Performance Report Ready!</h1>\n    </div>\n    <div class=\"content\">\n      <p>Hello,</p>\n      \n      <p>Your comprehensive SEO Performance Report has been generated and saved.</p>\n      \n      <div class=\"highlight\">\n        <h3 style=\"margin-top: 0;\">📋 Report Details:</h3>\n        <ul style=\"margin-bottom: 0;\">\n          <li><strong>Website:</strong> {{ $('Convert To Markdown2').first().json.targetWebsite }}</li>\n          <li><strong>Period:</strong> {{ $('Convert To Markdown2').first().json.dateFrom }} to {{ $('Convert To Markdown2').first().json.dateTo }}</li>\n          <li><strong>Generated:</strong> {{ $now.format('d MMMM yyyy') }}</li>\n          <li><strong>File:</strong> {{ $('Convert To Markdown2').first().json.filename }}</li>\n        </ul>\n      </div>\n      \n      <p style=\"text-align: center;\">\n        <a href=\"https://drive.google.com/file/d/{{ $('Google Drive2').first().json.id }}/view\" class=\"button\">\n          📄 View Report in Google Drive\n        </a>\n      </p>\n      \n      <h3>📈 What's Included:</h3>\n      <ul>\n        <li>Executive Summary & Overall Status</li>\n        <li>Domain & Traffic Overview with Trends</li>\n        <li>Organic Keyword Performance Analysis</li>\n        <li>Technical SEO Health Assessment</li>\n        <li>Backlink Profile Analysis</li>\n        <li>Summary of Period Gains</li>\n        <li>Strategic Recommendations</li>\n      </ul>\n      \n      <p>This report covers the period from <strong>{{ $('Convert To Markdown2').first().json.dateFrom }}</strong> to <strong>{{ $('Convert To Markdown2').first().json.dateTo }}</strong>.</p>\n    </div>\n    <div class=\"footer\">\n      <p>This report was automatically generated by our SEO monitoring system.</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        3504,
        1712
      ],
      "id": "2a543d13-9c5c-4ff7-9cd1-5b1035219054",
      "name": "Send Report2",
      "webhookId": "8cc4bd9c-86ee-4316-9d5d-009ddd4195b4",
      "credentials": {
        "smtp": {
          "id": "Powsux0m0r1TlNbw",
          "name": "SMTP account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build AI Prompt - SEO Performance Report with Audience-Specific Focus\nconst data = $input.first().json;\n\n// Extract data\nconst domainRank = data.domainRank?.domainRank || {};\nconst keywords = data.keywords?.keywords || {};\nconst backlinks = data.backlinks?.backlinks || {};\nconst onPage = data.onPage?.onPage || {};\nconst metadata = data.metadata || {};\n\n// Previous Report Data\nconst previousReport = data.previousReport || {};\nconst hasPreviousReport = previousReport.hasPreviousReport || false;\nconst previousReportContent = previousReport.content || null;\nconst previousReportName = previousReport.reportName || null;\nconst previousReportDate = previousReport.reportDate || null;\n\n// NEW: Get report audience type\nconst reportAudience = metadata.reportAudience || 'client';\nconst isClientReport = reportAudience === 'client';\nconst isInternalReport = reportAudience === 'internal';\n\n// Get date range from metadata\nconst dateFrom = metadata.dateFrom || 'N/A';\nconst dateTo = metadata.dateTo || 'N/A';\n\n// Format date range for display\nconst formatDate = (dateStr) => {\n  if (!dateStr || dateStr === 'N/A') return 'N/A';\n  const date = new Date(dateStr);\n  const options = { day: 'numeric', month: 'long', year: 'numeric' };\n  return date.toLocaleDateString('en-GB', options);\n};\n\nconst formattedDateFrom = formatDate(dateFrom);\nconst formattedDateTo = formatDate(dateTo);\nconst reportPeriod = `${formattedDateFrom} - ${formattedDateTo}`;\n\n// Format keywords lists\nconst formatKeywords = (kwList, limit = 10) => {\n  if (!kwList || kwList.length === 0) return '*No keywords in this category*';\n  return kwList.slice(0, limit).map((kw, i) => \n    `${i + 1}. **${kw.keyword}** (Rank: ${kw.rank}, Volume: ${kw.searchVolume}/mo, CPC: £${kw.cpc})`\n  ).join('\\n');\n};\n\n// Calculate trends (same as before)\nconst trafficChange = domainRank.periodChanges?.trafficValueChange || 0;\nconst trafficStart = domainRank.periodChanges?.trafficStart || 0;\nconst trafficTrend = trafficStart > 0 ? Math.round((trafficChange / trafficStart) * 100) : 0;\nconst trafficTrendStr = trafficTrend >= 0 ? `+${trafficTrend}%` : `${trafficTrend}%`;\n\nconst keywordChange = domainRank.periodChanges?.keywordsChange || 0;\nconst keywordStart = domainRank.periodChanges?.keywordsStart || 0;\nconst keywordTrend = keywordStart > 0 ? Math.round((keywordChange / keywordStart) * 100) : 0;\nconst keywordTrendStr = keywordTrend >= 0 ? `+${keywordTrend}%` : `${keywordTrend}%`;\n\nconst backlinksChange = backlinks.periodChanges?.backlinksChange || 0;\nconst backlinksStart = backlinks.periodChanges?.backlinksStart || 0;\nconst backlinksTrend = backlinksStart > 0 ? Math.round((backlinksChange / backlinksStart) * 100) : 0;\nconst backlinksTrendStr = backlinksTrend >= 0 ? `+${backlinksTrend}%` : `${backlinksTrend}%`;\n\nconst domainsChange = backlinks.periodChanges?.domainsChange || 0;\nconst domainsStart = backlinks.periodChanges?.domainsStart || 0;\nconst domainsTrend = domainsStart > 0 ? Math.round((domainsChange / domainsStart) * 100) : 0;\nconst domainsTrendStr = domainsTrend >= 0 ? `+${domainsTrend}%` : `${domainsTrend}%`;\n\n// Health score\nconst criticalIssues = onPage.issues?.critical || 0;\nconst warnings = onPage.issues?.warnings || 0;\nconst healthScore = Math.max(0, 100 - (criticalIssues * 5) - (warnings * 2));\n\n// Intent distribution\nconst allKeywords = keywords.allKeywords || [];\nconst totalKw = allKeywords.length || 1;\nconst informationalKw = allKeywords.filter(k => k.intent === 'informational').length;\nconst commercialKw = allKeywords.filter(k => k.intent === 'commercial').length;\nconst navigationalKw = allKeywords.filter(k => k.intent === 'navigational').length;\nconst transactionalKw = allKeywords.filter(k => k.intent === 'transactional').length;\n\nconst informationalPercent = Math.round((informationalKw / totalKw) * 100) || 0;\nconst commercialPercent = Math.round((commercialKw / totalKw) * 100) || 0;\nconst navigationalPercent = Math.round((navigationalKw / totalKw) * 100) || 0;\nconst transactionalPercent = Math.round((transactionalKw / totalKw) * 100) || 0;\n\n// ========== AUDIENCE-SPECIFIC INSTRUCTIONS ==========\nlet audienceInstructions = '';\nlet toneGuidelines = '';\nlet focusAreas = '';\n\nif (isClientReport) {\n  audienceInstructions = `\n## 🎯 REPORT AUDIENCE: CLIENT-FACING\n\nThis report is for the CLIENT. Follow these guidelines:`;\n\n  toneGuidelines = `\n### Tone & Style:\n- Professional, positive, and encouraging\n- Focus on achievements and progress\n- Use confident, reassuring language\n- Celebrate wins and improvements\n- Frame challenges as \"opportunities for growth\"`;\n\n  focusAreas = `\n### Content Focus (CLIENT):\n- **EMPHASISE:** Gains, improvements, positive trends, achievements\n- **HIGHLIGHT:** Traffic growth, new keywords, ranking improvements\n- **DOWNPLAY:** Losses (mention briefly, don't dwell)\n- **FRAME ISSUES AS:** \"Areas for optimisation\" or \"Opportunities\"\n- **RECOMMENDATIONS:** Focus on growth opportunities, not problems\n- **OVERALL TONE:** Optimistic progress report showing value delivered\n\n### What to Avoid (CLIENT):\n- Don't use alarming language about losses\n- Don't list every single issue or error\n- Don't be overly technical\n- Don't focus on negatives without solutions`;\n\n} else {\n  audienceInstructions = `\n## 🔍 REPORT AUDIENCE: INTERNAL TEAM\n\nThis report is for INTERNAL use. Follow these guidelines:`;\n\n  toneGuidelines = `\n### Tone & Style:\n- Honest, analytical, and direct\n- No sugar-coating - show the real picture\n- Technical and detailed where needed\n- Critical assessment of performance\n- Identify problems clearly`;\n\n  focusAreas = `\n### Content Focus (INTERNAL):\n- **ANALYSE HONESTLY:** Both gains AND losses in equal detail\n- **HIGHLIGHT PROBLEMS:** Technical issues, ranking drops, lost keywords\n- **DEEP DIVE:** Why things declined, what caused issues\n- **TECHNICAL DETAILS:** Error codes, specific pages affected, crawl issues\n- **RECOMMENDATIONS:** Prioritised action items with urgency levels\n- **OVERALL TONE:** Honest assessment for team action\n\n### Additional Internal Sections:\n- List ALL critical technical issues with details\n- Show keyword losses and why they might have occurred\n- Identify content gaps and weaknesses\n- Competitor implications (if visible from data)\n- Resource requirements for fixes\n- Priority ranking of issues (Critical/High/Medium/Low)`;\n}\n\n// Previous report section\nlet previousReportSection = '';\nif (hasPreviousReport && previousReportContent) {\n  previousReportSection = `\n---\n\n## 📊 PREVIOUS REPORT FOR COMPARISON\n\n**Previous Report:** ${previousReportName || 'Previous SEO Report'}\n**Report Date:** ${formatDate(previousReportDate)}\n\n### PREVIOUS REPORT CONTENT:\n\\`\\`\\`\n${previousReportContent}\n\\`\\`\\`\n\n---\n`;\n}\n\n// ========== BUILD SYSTEM PROMPT ==========\nconst systemPrompt = `You are a Senior UK SEO Analyst creating a ${isClientReport ? 'CLIENT-FACING' : 'INTERNAL TEAM'} performance report.\n\nYour expertise includes:\n- Performance tracking and trend analysis\n- Technical SEO health monitoring\n- Keyword ranking analysis\n- Backlink profile assessment\n- Strategic recommendations\n${hasPreviousReport ? '- Period-over-period comparison' : ''}\n\n${isClientReport ? `\nCLIENT REPORT GUIDELINES:\n- Be positive and focus on achievements\n- Highlight progress and wins\n- Frame challenges as opportunities\n- Use encouraging, professional language\n- Show value delivered to the client\n- Keep technical jargon minimal\n` : `\nINTERNAL REPORT GUIDELINES:\n- Be brutally honest about performance\n- Highlight ALL issues, losses, and problems\n- Provide detailed technical analysis\n- Include actionable items with priorities\n- Don't hide bad news - the team needs to know\n- Be specific about what needs fixing and why\n`}\n\nReport Format Requirements:\n- Use UK English spelling (optimisation, analyse, colour, etc.)\n- Use clean, scannable tables for metrics\n- Use clear section headings with numbers\n- Include trend indicators (↑ ↓ →)\n- Use **bold** for key metrics\n- Use £ for currency values`;\n\n// ========== BUILD USER PROMPT ==========\nconst userPrompt = `# SEO ${isClientReport ? 'Performance' : 'Analysis'} Report: ${domainRank.target || 'Unknown Website'}\n\n**Reporting Period:** ${reportPeriod}\n**Report Type:** ${isClientReport ? '📊 Client Report' : '🔍 Internal Analysis'}\n${hasPreviousReport ? `**Includes:** Comparison with previous report` : ''}\n${audienceInstructions}\n${toneGuidelines}\n${focusAreas}\n${previousReportSection}\n---\n\n## RAW DATA FOR ANALYSIS\n\n### Authority & Traffic Data\n- Target Domain: ${domainRank.target || 'N/A'}\n- Estimated Traffic Value: £${domainRank.estimatedTrafficValue || 0}\n- Total Ranking Keywords: ${domainRank.totalKeywords || 0}\n- Keywords Start of Period: ${domainRank.periodChanges?.keywordsStart || 0}\n- Keywords End of Period: ${domainRank.periodChanges?.keywordsEnd || 0}\n- Traffic Value Start: £${domainRank.periodChanges?.trafficStart || 0}\n- Traffic Value End: £${domainRank.periodChanges?.trafficEnd || 0}\n\n### Position Distribution\n- Top 3 Positions: ${domainRank.positions?.top3 || 0}\n- Top 10 Positions: ${domainRank.positions?.top10 || 0}\n- Page 2 (11-20): ${domainRank.positions?.page2 || 0}\n- Page 3 (21-30): ${domainRank.positions?.page3 || 0}\n- Page 4+ (31+): ${domainRank.positions?.page4Plus || 0}\n\n### Keyword Movement (During Period)\n- New Keywords: +${domainRank.movement?.newKeywords || 0}\n- Improved Positions: +${domainRank.movement?.improved || 0}\n- Declined Positions: -${domainRank.movement?.declined || 0}\n- Lost Keywords: -${domainRank.movement?.lost || 0}\n\n### Keyword Analysis\n- Total Keywords: ${keywords.summary?.totalKeywords || 0}\n- Total Search Volume: ${keywords.summary?.totalSearchVolume || 0}/month\n- Branded: ${keywords.summary?.brandedCount || 0} (${keywords.summary?.brandedPercent || 0}%)\n- Unbranded: ${keywords.summary?.unbrandedCount || 0} (${keywords.summary?.unbrandedPercent || 0}%)\n\n### Search Intent Distribution\n- Informational: ${informationalKw} (${informationalPercent}%)\n- Commercial: ${commercialKw} (${commercialPercent}%)\n- Navigational: ${navigationalKw} (${navigationalPercent}%)\n- Transactional: ${transactionalKw} (${transactionalPercent}%)\n\n### Top Performing Keywords\n${formatKeywords(keywords.topPerformers, 10)}\n\n### Page 2 Opportunities\n${formatKeywords(keywords.quickWinOpportunities, 10)}\n\n### Backlink Profile\n- Total Backlinks: ${backlinks.totalBacklinks || 0}\n- Referring Domains: ${backlinks.referringDomains || 0}\n- Domain Rank: ${backlinks.rank || 0}\n- Backlinks Change: ${backlinksChange} (${backlinksTrendStr})\n- Domains Change: ${domainsChange} (${domainsTrendStr})\n\n### Technical SEO (OnPage)\n- Site Health Score: ${healthScore}%\n- Pages Crawled: ${onPage.pagesCrawled || 0}\n- Critical Issues: ${onPage.issues?.critical || 0}\n- Warnings: ${onPage.issues?.warnings || 0}\n- Notices: ${onPage.issues?.notices || 0}\n- Broken Links: ${onPage.pageMetrics?.brokenLinks || 0}\n- Broken Resources: ${onPage.pageMetrics?.brokenResources || 0}\n- Duplicate Titles: ${onPage.pageMetrics?.duplicateTitle || 0}\n- Duplicate Descriptions: ${onPage.pageMetrics?.duplicateDescription || 0}\n\n### Calculated Trends\n- Traffic Trend: ${trafficTrendStr}\n- Keyword Trend: ${keywordTrendStr}\n- Backlinks Trend: ${backlinksTrendStr}\n- Domains Trend: ${domainsTrendStr}\n\n---\n\n## REQUIRED REPORT STRUCTURE\n\n${isClientReport ? `\n### CLIENT REPORT STRUCTURE:\n\n1. **Executive Summary** - Positive overview, highlight wins\n2. **Domain & Traffic Overview** - Focus on growth metrics\n3. **Keyword Performance Highlights** - Top rankings, new wins\n4. **Technical Health Summary** - Brief, non-alarming\n5. **Backlink Profile** - Growth focus\n6. **Period Achievements** - Celebrate the wins! 🎉\n7. **Growth Opportunities** - Frame as exciting next steps\n${hasPreviousReport ? `8. **Progress Since Last Report** - Show improvement\n9. **Next Steps** - Positive forward-looking recommendations` : `8. **Recommended Next Steps** - Growth-focused actions`}\n` : `\n### INTERNAL REPORT STRUCTURE:\n\n1. **Executive Summary** - Honest overall assessment\n2. **Domain & Traffic Analysis** - Full picture, gains AND losses\n3. **Keyword Performance Deep Dive** - Wins, losses, why\n4. **Technical Issues & Errors** - FULL LIST with priorities\n5. **Backlink Analysis** - Quality assessment, concerns\n6. **Problem Areas** - What's not working and why\n7. **Competitor Implications** - If visible from data\n${hasPreviousReport ? `8. **Comparison vs Previous Report** - Honest progress check\n9. **Action Items** - Prioritised with urgency levels (Critical/High/Medium/Low)` : `8. **Prioritised Action Items** - With urgency levels`}\n10. **Resource Requirements** - What's needed to fix issues\n`}\n\n---\n\n## FORMATTING RULES:\n1. UK English spelling\n2. Use tables where appropriate\n3. **Bold** key metrics\n4. Trend indicators: ↑ ↓ →\n5. Be specific with numbers\n${isClientReport ? `6. Keep tone positive and encouraging\n7. Frame negatives as opportunities\n8. Celebrate achievements` : `6. Be direct and honest\n7. Don't hide bad news\n8. Include ALL technical issues`}\n\nGenerate the complete ${isClientReport ? 'client' : 'internal'} SEO report now.`;\n\nreturn {\n  systemPrompt: systemPrompt,\n  userPrompt: userPrompt,\n  targetWebsite: domainRank.target || 'Unknown',\n  dateFrom: dateFrom,\n  dateTo: dateTo,\n  reportPeriod: reportPeriod,\n  reportAudience: reportAudience,\n  hasPreviousReport: hasPreviousReport,\n  generatedAt: new Date().toISOString()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2368,
        1712
      ],
      "id": "69128cf2-2898-4010-ade9-5be192b17247",
      "name": "Generate Prompt2"
    },
    {
      "parameters": {
        "fromEmail": "automation@programmx.com",
        "toEmail": "={{ $(\"Validate Input\").first().json.email }}",
        "subject": "=={{ $json.subject }}",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: #dc3545; color: white; padding: 30px; text-align: center; }\n    .content { background: #f8f9fa; padding: 30px; }\n    .error-box { background: #fff3cd; border-left: 4px solid #ffc107; padding: 15px; margin: 20px 0; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>⚠️ SEO Report Generation Failed</h1>\n    </div>\n    <div class=\"content\">\n      <p>Hello,</p>\n      <p>We encountered an issue while generating your SEO report for <strong>{{ $json.targetUrl }}</strong>.</p>\n      \n      <div class=\"error-box\">\n        <h3>Error Details</h3>\n        <p><strong>Error:</strong> {{ $json.errorType }}</p>\n        <p><strong>Message:</strong> {{ $json.message }}</p>\n        <p><strong>Data Sources:</strong> {{ $json.dataSourceCount }}/{{ $json.totalSources }} available</p>\n      </div>\n      \n      <h3>Data Source Status</h3>\n      <ul>\n        <li>OnPage: {{ $json.checks.onPage }}</li>\n        <li>Domain Rank: {{ $json.checks.domainRank }}</li>\n        <li>Keywords: {{ $json.checks.keywords }}</li>\n        <li>Backlinks: {{ $json.checks.backlinks }}</li>\n      </ul>\n          \n      <p>Best regards,<br>SEO Automation System</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2928,
        -16
      ],
      "id": "7e24c9c2-3ad7-4f34-bd60-82d8a4bfa728",
      "name": "Send Error",
      "webhookId": "8cc4bd9c-86ee-4316-9d5d-009ddd4195b4",
      "credentials": {
        "smtp": {
          "id": "Powsux0m0r1TlNbw",
          "name": "SMTP account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8bd1d091-90d6-4a68-a853-a5b9f1731717",
              "leftValue": "={{ $json.hasValidData }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1872,
        -240
      ],
      "id": "5decea1b-f3a2-4376-aad3-9a62b0a4a6c5",
      "name": "Check Data"
    },
    {
      "parameters": {
        "jsCode": "// Format Error Message for Email\nconst validation = $('Validate Data').first().json;\nconst aggregatedData = validation.aggregatedData;\n\n// Get email from original input\nconst validateInput = $('Validate Input').first().json || $('Validate Input1').first().json;\nconst email = validateInput.email || 'admin@yourdomain.com';\n\nreturn {\n  toEmail: email,\n  subject: `⚠️ SEO Report Generation Failed - ${aggregatedData.metadata?.targetUrl || 'Unknown'}`,\n  errorType: 'Insufficient Data',\n  message: validation.validationMessage,\n  dataSourceCount: validation.dataSourceCount,\n  totalSources: validation.totalSources,\n  checks: {\n    onPage: validation.checks.onPage ? '✅ Available' : '❌ Empty/Zero',\n    domainRank: validation.checks.domainRank ? '✅ Available' : '❌ Empty/Zero',\n    keywords: validation.checks.keywords ? '✅ Available' : '❌ Empty/Zero',\n    backlinks: validation.checks.backlinks ? '✅ Available' : '❌ Empty/Zero'\n  },\n  targetUrl: aggregatedData.metadata?.targetUrl || 'Unknown',\n  reportType: aggregatedData.metadata?.reportType || 'unknown',\n  timestamp: new Date().toISOString()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        -16
      ],
      "id": "b2df415f-3f93-4c6f-a38e-1b1056b37aeb",
      "name": "Format Error"
    },
    {
      "parameters": {
        "jsCode": "// Validate Data - Check if we have meaningful data (not all zeros/null/empty)\nconst input = $input.first().json;\n\n// ✅ FIX: Extract aggregatedData - Handle both direct data and nested structure\nconst data = input.aggregatedData || input;\n\n// Check OnPage - Look for ANY meaningful data\nconst hasOnPage = data.onPage?.success && (\n  (data.onPage.onPage?.pagesCrawled > 0) ||\n  (data.onPage.onPage?.issues?.critical > 0) ||\n  (data.onPage.onPage?.issues?.warnings > 0) ||\n  (data.onPage.onPage?.issues?.notices > 0) ||\n  (data.onPage.onPage?.pageMetrics?.brokenLinks > 0) ||\n  (data.onPage.onPage?.pageMetrics?.brokenResources > 0) ||\n  (data.onPage.onPage?.pageMetrics?.duplicateTitle > 0) ||\n  (data.onPage.onPage?.pageMetrics?.duplicateDescription > 0) ||\n  (data.onPage.onPage?.pageMetrics?.duplicateContent > 0) ||\n  (data.onPage.onPage?.performance?.avgPageLoadTime > 0) ||\n  (data.onPage.onPage?.performance?.mobileUsability === true) ||\n  (data.onPage.onPage?.crawlProgress && data.onPage.onPage.crawlProgress !== '')\n);\n\n// Check Domain Rank - Look for ANY meaningful data\nconst hasDomainRank = data.domainRank?.success && (\n  (data.domainRank.domainRank?.totalKeywords > 0) ||\n  (data.domainRank.domainRank?.estimatedTrafficValue > 0) ||\n  (data.domainRank.domainRank?.estimatedPaidTrafficCost > 0) ||\n  (data.domainRank.domainRank?.positions?.top3 > 0) ||\n  (data.domainRank.domainRank?.positions?.top10 > 0) ||\n  (data.domainRank.domainRank?.positions?.page2 > 0) ||\n  (data.domainRank.domainRank?.positions?.page3 > 0) ||\n  (data.domainRank.domainRank?.positions?.page4Plus > 0) ||\n  (data.domainRank.domainRank?.movement?.newKeywords > 0) ||\n  (data.domainRank.domainRank?.movement?.improved > 0) ||\n  (data.domainRank.domainRank?.target && data.domainRank.domainRank.target !== '')\n);\n\n// Check Keywords - Look for ANY meaningful data\nconst hasKeywords = data.keywords?.success && (\n  (data.keywords.keywords?.summary?.totalKeywords > 0) ||\n  (data.keywords.keywords?.summary?.totalSearchVolume > 0) ||\n  (data.keywords.keywords?.summary?.totalETV > 0) ||\n  (data.keywords.keywords?.distribution?.top3Count > 0) ||\n  (data.keywords.keywords?.distribution?.top10Count > 0) ||\n  (data.keywords.keywords?.topPerformers?.length > 0) ||\n  (data.keywords.keywords?.quickWinOpportunities?.length > 0) ||\n  (data.keywords.keywords?.allKeywords?.length > 0)\n);\n\n// Check Backlinks - Look for ANY meaningful data\nconst hasBacklinks = data.backlinks?.success && (\n  (data.backlinks.backlinks?.totalBacklinks > 0) ||\n  (data.backlinks.backlinks?.referringDomains > 0) ||\n  (data.backlinks.backlinks?.referringMainDomains > 0) ||\n  (data.backlinks.backlinks?.dofollow > 0) ||\n  (data.backlinks.backlinks?.nofollow > 0) ||\n  (data.backlinks.backlinks?.rank > 0)\n);\n\n// Count valid data sources\nconst dataCount = [hasOnPage, hasDomainRank, hasKeywords, hasBacklinks].filter(Boolean).length;\n\n// Require at least 2 out of 4 data sources to be valid\nconst hasValidData = dataCount >= 2;\n\nreturn {\n  hasValidData: hasValidData,\n  dataCount: dataCount,\n  totalSources: 4,\n  checks: {\n    onPage: hasOnPage,\n    domainRank: hasDomainRank,\n    keywords: hasKeywords,\n    backlinks: hasBacklinks\n  },\n  aggregatedData: data,\n  validationMessage: hasValidData \n    ? `Valid: ${dataCount}/4 data sources available`\n    : `Invalid: Only ${dataCount}/4 data sources available (all zeros/null/empty)`\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        -240
      ],
      "id": "13624757-4d04-446f-86b2-73d8e222d6a6",
      "name": "Validate Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c2c5ab95-7cdd-4716-aecf-e430cefcadd3",
              "leftValue": "={{ $json.allEndpointsHaveSubscriptionError }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "a9f6ae26-3f17-4ead-9039-d11b96f2e229",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1568,
        -256
      ],
      "id": "687f0bd9-7ca8-47d6-8e4b-21ab9c297219",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "// Check if ALL endpoints returned subscription errors (status_code 40204)\nconst aggregatedData = $input.first().json;\n\n// Helper to check if a data source has subscription error\nfunction hasSubscriptionError(dataSource) {\n  if (!dataSource) return false;\n  \n  // ✅ FIX: Check for explicit status_code 40204\n  if (dataSource.status_code === 40204) {\n    return true;\n  }\n  \n  // ✅ FIX: Check if success is 40204 (parse nodes set this when subscription error occurs)\n  if (dataSource.success === 40204) {\n    return true;\n  }\n  \n  // ✅ FIX: Check for success: false with subscription error message\n  if (dataSource.success === false) {\n    const errorMsg = (dataSource.error || dataSource.message || '').toLowerCase();\n    if (errorMsg.includes('subscription') || \n        errorMsg.includes('40204') ||\n        errorMsg.includes('requires subscription activation')) {\n      return true;\n    }\n  }\n  \n  return false;\n}\n\n// Check each data source\nconst subscriptionErrors = {\n  onPage: hasSubscriptionError(aggregatedData.onPage),\n  domainRank: hasSubscriptionError(aggregatedData.domainRank),\n  keywords: hasSubscriptionError(aggregatedData.keywords),\n  backlinks: hasSubscriptionError(aggregatedData.backlinks)\n};\n\n// Count errors\nconst errorCount = Object.values(subscriptionErrors).filter(Boolean).length;\nconst allHaveSubscriptionError = errorCount === 4;\n\nreturn {\n  allEndpointsHaveSubscriptionError: allHaveSubscriptionError,\n  subscriptionErrorCount: errorCount,\n  subscriptionErrors: subscriptionErrors,\n  aggregatedData: aggregatedData,\n  message: allHaveSubscriptionError\n    ? 'ALL endpoints returned subscription errors (40204)'\n    : `${errorCount}/4 endpoints have subscription errors`\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        -256
      ],
      "id": "f5afc773-bc5e-4fdd-8110-b365247ff303",
      "name": "Check Subscription"
    },
    {
      "parameters": {
        "jsCode": "// Format Subscription Error for Email\nconst subscriptionCheck = $('Check Subscription').first().json;\nconst aggregatedData = subscriptionCheck.aggregatedData;\n\n// Get email from original input\nconst validateInput = $('Validate Input').first().json;\nconst email = validateInput.email || 'admin@yourdomain.com';\n\nreturn {\n  toEmail: email,\n  subject: `🔔 URGENT: All API Subscriptions Missing - SEO Report Cannot Generate`,\n  errorType: 'All Subscriptions Missing',\n  message: 'All required API subscriptions are missing or expired.',\n  subscriptionStatus: {\n    onPage: subscriptionCheck.subscriptionErrors.onPage ? '❌ Missing' : '✅ Active',\n    domainRank: subscriptionCheck.subscriptionErrors.domainRank ? '❌ Missing' : '✅ Active',\n    keywords: subscriptionCheck.subscriptionErrors.keywords ? '❌ Missing' : '✅ Active',\n    backlinks: subscriptionCheck.subscriptionErrors.backlinks ? '❌ Missing' : '✅ Active'\n  },\n  subscriptionUrls: {\n    onPage: 'https://app.dataforseo.com/on-page-subscription',\n    dataforseoLabs: 'https://app.dataforseo.com/dataforseo-labs-subscription',\n    backlinks: 'https://app.dataforseo.com/backlinks-subscription'\n  },\n  targetUrl: aggregatedData.metadata?.targetUrl || 'Unknown',\n  timestamp: new Date().toISOString()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        -448
      ],
      "id": "32069a40-dbc0-4a9c-afe1-3c7ffdcad697",
      "name": "Format Subscription Error"
    },
    {
      "parameters": {
        "fromEmail": "automation@programmx.com",
        "toEmail": "={{ $(\"Validate Input\").first().json.email }}",
        "subject": "=={{ $json.subject }}",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: #dc3545; color: white; padding: 30px; text-align: center; }\n    .content { background: #f8f9fa; padding: 30px; }\n    .urgent { background: #f8d7da; border-left: 4px solid #dc3545; padding: 15px; margin: 20px 0; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>🔔 URGENT: All API Subscriptions Missing</h1>\n    </div>\n    <div class=\"content\">\n      <p>Hello,</p>\n      \n      <div class=\"urgent\">\n        <h3>⚠️ Critical Issue</h3>\n        <p><strong>All required API subscriptions are missing or expired.</strong></p>\n        <p>Your SEO report cannot be generated until subscriptions are activated.</p>\n      </div>\n      \n      <h3>Subscription Status</h3>\n      <ul>\n        <li>OnPage API: {{ $json.subscriptionStatus.onPage }}</li>\n        <li>DataForSEO Labs API: {{ $json.subscriptionStatus.domainRank }}</li>\n        <li>Backlinks API: {{ $json.subscriptionStatus.backlinks }}</li>\n      </ul>\n      \n      <h3>Required Actions</h3>\n      <ol>\n        <li>Go to: <a href=\"https://app.dataforseo.com/\">DataForSEO Dashboard</a></li>\n        <li>Activate OnPage: <a href=\"{{ $json.subscriptionUrls.onPage }}\">Activate</a></li>\n        <li>Activate Labs: <a href=\"{{ $json.subscriptionUrls.dataforseoLabs }}\">Activate</a></li>\n        <li>Activate Backlinks: <a href=\"{{ $json.subscriptionUrls.backlinks }}\">Activate</a></li>\n        <li>Wait 2-3 minutes, then try again</li>\n      </ol>\n      \n      <p>Best regards,<br>SEO Automation System</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2928,
        -448
      ],
      "id": "0389820e-8870-4b86-b78f-4a599ff4ae98",
      "name": "Send Subscription Error",
      "webhookId": "8cc4bd9c-86ee-4316-9d5d-009ddd4195b4",
      "credentials": {
        "smtp": {
          "id": "Powsux0m0r1TlNbw",
          "name": "SMTP account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check if ALL endpoints returned subscription errors (status_code 40204)\n\nconst inputData = $input.first().json;\n// ✅ FIX: Access the nested aggregatedData property\nconst aggregatedData = inputData.aggregatedData || inputData;\n\n// Helper to check if a data source has subscription error\nfunction hasSubscriptionError(dataSource) {\n  if (!dataSource) return false;\n  \n  // ✅ FIX: Check for explicit status_code 40204\n  if (dataSource.status_code === 40204) {\n    return true;\n  }\n  \n  // ✅ FIX: Check if success is 40204 (parse nodes set this when subscription error occurs)\n  if (dataSource.success === 40204) {\n    return true;\n  }\n  \n  // ✅ FIX: Check for success: false with subscription error message\n  if (dataSource.success === false) {\n    const errorMsg = (dataSource.error || dataSource.message || '').toLowerCase();\n    if (errorMsg.includes('subscription') || \n        errorMsg.includes('40204') ||\n        errorMsg.includes('requires subscription activation')) {\n      return true;\n    }\n  }\n  \n  return false;\n}\n\n// ✅ FIX: Check each data source from the correct nested location\nconst subscriptionErrors = {\n  onPage: hasSubscriptionError(aggregatedData.onPage),\n  domainRank: hasSubscriptionError(aggregatedData.domainRank),\n  keywords: hasSubscriptionError(aggregatedData.keywords),\n  backlinks: hasSubscriptionError(aggregatedData.backlinks)\n};\n\n// Count errors\nconst errorCount = Object.values(subscriptionErrors).filter(Boolean).length;\nconst allHaveSubscriptionError = errorCount === 4;\n\nreturn {\n  allEndpointsHaveSubscriptionError: allHaveSubscriptionError,\n  subscriptionErrorCount: errorCount,\n  subscriptionErrors: subscriptionErrors,\n  aggregatedData: inputData,\n  message: allHaveSubscriptionError\n    ? 'ALL endpoints returned subscription errors (40204)'\n    : `${errorCount}/4 endpoints have subscription errors`\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        1408
      ],
      "id": "044e8307-a1b9-46f1-8642-5f736feb3e0f",
      "name": "Check Subscription2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c2c5ab95-7cdd-4716-aecf-e430cefcadd3",
              "leftValue": "={{ $json.allEndpointsHaveSubscriptionError }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1472,
        1408
      ],
      "id": "ac9208bf-efbd-4d50-9af5-7d3ba2c6bf52",
      "name": "If2"
    },
    {
      "parameters": {
        "jsCode": "// Format Subscription Error for Email\nconst subscriptionCheck = $('Check Subscription2').first().json;\nconst aggregatedData = subscriptionCheck.aggregatedData;\n\n// Get email from original input\nconst validateInput = $('Validate Input1').first().json;\nconst email = validateInput.email || 'admin@yourdomain.com';\n\nreturn {\n  toEmail: email,\n  subject: `🔔 URGENT: All API Subscriptions Missing - SEO Report Cannot Generate`,\n  errorType: 'All Subscriptions Missing',\n  message: 'All required API subscriptions are missing or expired.',\n  subscriptionStatus: {\n    onPage: subscriptionCheck.subscriptionErrors.onPage ? '❌ Missing' : '✅ Active',\n    domainRank: subscriptionCheck.subscriptionErrors.domainRank ? '❌ Missing' : '✅ Active',\n    keywords: subscriptionCheck.subscriptionErrors.keywords ? '❌ Missing' : '✅ Active',\n    backlinks: subscriptionCheck.subscriptionErrors.backlinks ? '❌ Missing' : '✅ Active'\n  },\n  subscriptionUrls: {\n    onPage: 'https://app.dataforseo.com/on-page-subscription',\n    dataforseoLabs: 'https://app.dataforseo.com/dataforseo-labs-subscription',\n    backlinks: 'https://app.dataforseo.com/backlinks-subscription'\n  },\n  targetUrl: aggregatedData.metadata?.targetUrl || 'Unknown',\n  timestamp: new Date().toISOString()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        1184
      ],
      "id": "88854b55-3837-4858-9015-34e90adc5a3b",
      "name": "Format Subscription Error1"
    },
    {
      "parameters": {
        "fromEmail": "automation@programmx.com",
        "toEmail": "={{ $(\"Validate Input1\").first().json.email }}",
        "subject": "=={{ $json.subject }}",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: #dc3545; color: white; padding: 30px; text-align: center; }\n    .content { background: #f8f9fa; padding: 30px; }\n    .urgent { background: #f8d7da; border-left: 4px solid #dc3545; padding: 15px; margin: 20px 0; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>🔔 URGENT: All API Subscriptions Missing</h1>\n    </div>\n    <div class=\"content\">\n      <p>Hello,</p>\n      \n      <div class=\"urgent\">\n        <h3>⚠️ Critical Issue</h3>\n        <p><strong>All required API subscriptions are missing or expired.</strong></p>\n        <p>Your SEO report cannot be generated until subscriptions are activated.</p>\n      </div>\n      \n      <h3>Subscription Status</h3>\n      <ul>\n        <li>OnPage API: {{ $json.subscriptionStatus.onPage }}</li>\n        <li>DataForSEO Labs API: {{ $json.subscriptionStatus.domainRank }}</li>\n        <li>Backlinks API: {{ $json.subscriptionStatus.backlinks }}</li>\n      </ul>\n      \n      <h3>Required Actions</h3>\n      <ol>\n        <li>Go to: <a href=\"https://app.dataforseo.com/\">DataForSEO Dashboard</a></li>\n        <li>Activate OnPage: <a href=\"{{ $json.subscriptionUrls.onPage }}\">Activate</a></li>\n        <li>Activate Labs: <a href=\"{{ $json.subscriptionUrls.dataforseoLabs }}\">Activate</a></li>\n        <li>Activate Backlinks: <a href=\"{{ $json.subscriptionUrls.backlinks }}\">Activate</a></li>\n        <li>Wait 2-3 minutes, then try again</li>\n      </ol>\n      \n      <p>Best regards,<br>SEO Automation System</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        3456,
        1184
      ],
      "id": "683256c7-97d4-4173-8c4f-55c4bb5db511",
      "name": "Send Subscription Error1",
      "webhookId": "8cc4bd9c-86ee-4316-9d5d-009ddd4195b4",
      "credentials": {
        "smtp": {
          "id": "Powsux0m0r1TlNbw",
          "name": "SMTP account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8bd1d091-90d6-4a68-a853-a5b9f1731717",
              "leftValue": "={{ $json.aggregatedData.hasValidData }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1632,
        1424
      ],
      "id": "0a5cab9c-66e6-4a41-b0d0-126fda571b3f",
      "name": "Check Data1"
    },
    {
      "parameters": {
        "fromEmail": "automation@programmx.com",
        "toEmail": "={{ $(\"Validate Input1\").first().json.email }}",
        "subject": "=={{ $json.subject }}",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: #dc3545; color: white; padding: 30px; text-align: center; }\n    .content { background: #f8f9fa; padding: 30px; }\n    .error-box { background: #fff3cd; border-left: 4px solid #ffc107; padding: 15px; margin: 20px 0; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>⚠️ SEO Report Generation Failed</h1>\n    </div>\n    <div class=\"content\">\n      <p>Hello,</p>\n      <p>We encountered an issue while generating your SEO report for <strong>{{ $json.targetUrl }}</strong>.</p>\n      \n      <div class=\"error-box\">\n        <h3>Error Details</h3>\n        <p><strong>Error:</strong> {{ $json.errorType }}</p>\n        <p><strong>Message:</strong> {{ $json.message }}</p>\n        <p><strong>Data Sources:</strong> {{ $json.dataSourceCount }}/{{ $json.totalSources }} available</p>\n      </div>\n      \n      <h3>Data Source Status</h3>\n      <ul>\n        <li>OnPage: {{ $json.checks.onPage }}</li>\n        <li>Domain Rank: {{ $json.checks.domainRank }}</li>\n        <li>Keywords: {{ $json.checks.keywords }}</li>\n        <li>Backlinks: {{ $json.checks.backlinks }}</li>\n      </ul>\n          \n      <p>Best regards,<br>SEO Automation System</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        3504,
        2160
      ],
      "id": "9cdc70eb-3d3b-4056-a8d3-b7e5060c3dce",
      "name": "Send Error1",
      "webhookId": "8cc4bd9c-86ee-4316-9d5d-009ddd4195b4",
      "credentials": {
        "smtp": {
          "id": "Powsux0m0r1TlNbw",
          "name": "SMTP account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format Error Message for Email\nconst validation = $('Validate Data1').first().json;\nconst aggregatedData = validation.aggregatedData;\n\n// Get email from original input\nconst validateInput = $('Validate Input1').first().json || $('Validate Input1').first().json;\nconst email = validateInput.email || 'admin@yourdomain.com';\n\nreturn {\n  toEmail: email,\n  subject: `⚠️ SEO Report Generation Failed - ${aggregatedData.metadata?.targetUrl || 'Unknown'}`,\n  errorType: 'Insufficient Data',\n  message: validation.validationMessage,\n  dataSourceCount: validation.dataSourceCount,\n  totalSources: validation.totalSources,\n  checks: {\n    onPage: validation.checks.onPage ? '✅ Available' : '❌ Empty/Zero',\n    domainRank: validation.checks.domainRank ? '✅ Available' : '❌ Empty/Zero',\n    keywords: validation.checks.keywords ? '✅ Available' : '❌ Empty/Zero',\n    backlinks: validation.checks.backlinks ? '✅ Available' : '❌ Empty/Zero'\n  },\n  targetUrl: aggregatedData.metadata?.targetUrl || 'Unknown',\n  reportType: aggregatedData.metadata?.reportType || 'unknown',\n  timestamp: new Date().toISOString()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2064,
        2176
      ],
      "id": "35cf4966-60b7-42b1-a95f-be9f46b019ef",
      "name": "Format Error1"
    },
    {
      "parameters": {
        "jsCode": "// Validate Data - Check if we have meaningful data (not all zeros/null/empty)\nconst input = $input.first().json;\n\n// ✅ FIX: Extract aggregatedData - Handle both direct data and nested structure\nconst data = input.aggregatedData || input;\n\n// Check OnPage - Look for ANY meaningful data\nconst hasOnPage = data.onPage?.success && (\n  (data.onPage.onPage?.pagesCrawled > 0) ||\n  (data.onPage.onPage?.issues?.critical > 0) ||\n  (data.onPage.onPage?.issues?.warnings > 0) ||\n  (data.onPage.onPage?.issues?.notices > 0) ||\n  (data.onPage.onPage?.pageMetrics?.brokenLinks > 0) ||\n  (data.onPage.onPage?.pageMetrics?.brokenResources > 0) ||\n  (data.onPage.onPage?.pageMetrics?.duplicateTitle > 0) ||\n  (data.onPage.onPage?.pageMetrics?.duplicateDescription > 0) ||\n  (data.onPage.onPage?.pageMetrics?.duplicateContent > 0) ||\n  (data.onPage.onPage?.performance?.avgPageLoadTime > 0) ||\n  (data.onPage.onPage?.performance?.mobileUsability === true) ||\n  (data.onPage.onPage?.crawlProgress && data.onPage.onPage.crawlProgress !== '')\n);\n\n// Check Domain Rank - Look for ANY meaningful data\nconst hasDomainRank = data.domainRank?.success && (\n  (data.domainRank.domainRank?.totalKeywords > 0) ||\n  (data.domainRank.domainRank?.estimatedTrafficValue > 0) ||\n  (data.domainRank.domainRank?.estimatedPaidTrafficCost > 0) ||\n  (data.domainRank.domainRank?.positions?.top3 > 0) ||\n  (data.domainRank.domainRank?.positions?.top10 > 0) ||\n  (data.domainRank.domainRank?.positions?.page2 > 0) ||\n  (data.domainRank.domainRank?.positions?.page3 > 0) ||\n  (data.domainRank.domainRank?.positions?.page4Plus > 0) ||\n  (data.domainRank.domainRank?.movement?.newKeywords > 0) ||\n  (data.domainRank.domainRank?.movement?.improved > 0) ||\n  (data.domainRank.domainRank?.target && data.domainRank.domainRank.target !== '')\n);\n\n// Check Keywords - Look for ANY meaningful data\nconst hasKeywords = data.keywords?.success && (\n  (data.keywords.keywords?.summary?.totalKeywords > 0) ||\n  (data.keywords.keywords?.summary?.totalSearchVolume > 0) ||\n  (data.keywords.keywords?.summary?.totalETV > 0) ||\n  (data.keywords.keywords?.distribution?.top3Count > 0) ||\n  (data.keywords.keywords?.distribution?.top10Count > 0) ||\n  (data.keywords.keywords?.topPerformers?.length > 0) ||\n  (data.keywords.keywords?.quickWinOpportunities?.length > 0) ||\n  (data.keywords.keywords?.allKeywords?.length > 0)\n);\n\n// Check Backlinks - Look for ANY meaningful data\nconst hasBacklinks = data.backlinks?.success && (\n  (data.backlinks.backlinks?.totalBacklinks > 0) ||\n  (data.backlinks.backlinks?.referringDomains > 0) ||\n  (data.backlinks.backlinks?.referringMainDomains > 0) ||\n  (data.backlinks.backlinks?.dofollow > 0) ||\n  (data.backlinks.backlinks?.nofollow > 0) ||\n  (data.backlinks.backlinks?.rank > 0)\n);\n\n// Count valid data sources\nconst dataCount = [hasOnPage, hasDomainRank, hasKeywords, hasBacklinks].filter(Boolean).length;\n\n// Require at least 2 out of 4 data sources to be valid\nconst hasValidData = dataCount >= 2;\n\nreturn {\n  hasValidData: hasValidData,\n  dataCount: dataCount,\n  totalSources: 4,\n  checks: {\n    onPage: hasOnPage,\n    domainRank: hasDomainRank,\n    keywords: hasKeywords,\n    backlinks: hasBacklinks\n  },\n  aggregatedData: data,\n  validationMessage: hasValidData \n    ? `Valid: ${dataCount}/4 data sources available`\n    : `Invalid: Only ${dataCount}/4 data sources available (all zeros/null/empty)`\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        1408
      ],
      "id": "a919cba0-30f5-4145-86e1-1bb6a01887a5",
      "name": "Validate Data1"
    },
    {
      "parameters": {
        "jsCode": "// Test Data Node - Mock API Responses for Testing\n\n// Website: finepizza.com.pk - Fine Pizza (Pizza / Fast Food in Lahore)\n\nconst testData = [\n  {\n    \"success\": true,\n    \"status\": \"complete\",\n    \"onPage\": {\n      \"crawlProgress\": \"finished\",\n      \"pagesCrawled\": 0,\n      \"pagesInQueue\": 0,\n      \"issues\": {\n        \"critical\": 2,\n        \"warnings\": 4,\n        \"notices\": 2\n      },\n      \"pageMetrics\": {\n        \"brokenLinks\": 3,\n        \"brokenResources\": 2,\n        \"duplicateTitle\": 2,\n        \"duplicateDescription\": 2,\n        \"duplicateContent\": 1\n      },\n      \"performance\": {\n        \"avgPageLoadTime\": 0,\n        \"https\": 1,\n        \"mobileUsability\": true\n      }\n    }\n  },\n  {\n    \"success\": true,\n    \"domainRank\": {\n      \"target\": \"finepizza.com.pk\",\n      \"location\": 8120,\n      \"language\": \"en\",\n      \"dateFrom\": \"2026-01-01\",\n      \"dateTo\": \"2026-01-27\",\n      \"dataPoints\": 15,\n      \"positions\": {\n        \"top3\": 10,\n        \"top10\": 46,\n        \"page2\": 39,\n        \"page3\": 32,\n        \"page4Plus\": 150\n      },\n      \"estimatedTrafficValue\": 1650,\n      \"totalKeywords\": 277,\n      \"periodChanges\": {\n        \"keywordsChange\": 42,\n        \"trafficValueChange\": 210,\n        \"keywordsStart\": 235,\n        \"keywordsEnd\": 277,\n        \"trafficStart\": 1440,\n        \"trafficEnd\": 1650\n      },\n      \"movement\": {\n        \"newKeywords\": 57,\n        \"improved\": 64,\n        \"declined\": 38,\n        \"lost\": 15\n      }\n    }\n  },\n  {\n    \"success\": true,\n    \"keywords\": {\n      \"summary\": {\n        \"totalKeywords\": 277,\n        \"totalSearchVolume\": 132400,\n        \"totalETV\": 1649.7,\n        \"brandedCount\": 176,\n        \"unbrandedCount\": 101,\n        \"brandedPercent\": 64,\n        \"unbrandedPercent\": 36\n      },\n      \"distribution\": {\n        \"top3Count\": 10,\n        \"top10Count\": 46,\n        \"page2Count\": 39,\n        \"page3Count\": 32,\n        \"deepCount\": 150\n      },\n      \"topPerformers\": [\n        {\n          \"keyword\": \"fine pizza\",\n          \"rank\": 1,\n          \"searchVolume\": 18100,\n          \"etv\": 290,\n          \"cpc\": 0.55,\n          \"difficulty\": 38,\n          \"intent\": \"navigational\",\n          \"url\": \"https://finepizza.com.pk/\",\n          \"isBranded\": true,\n          \"isNew\": false\n        },\n        {\n          \"keyword\": \"fine pizza lahore\",\n          \"rank\": 1,\n          \"searchVolume\": 12100,\n          \"etv\": 193.6,\n          \"cpc\": 0.58,\n          \"difficulty\": 34,\n          \"intent\": \"navigational\",\n          \"url\": \"https://finepizza.com.pk/\",\n          \"isBranded\": true,\n          \"isNew\": false\n        },\n        {\n          \"keyword\": \"fine pizza menu\",\n          \"rank\": 1,\n          \"searchVolume\": 9900,\n          \"etv\": 158.4,\n          \"cpc\": 0.62,\n          \"difficulty\": 32,\n          \"intent\": \"transactional\",\n          \"url\": \"https://finepizza.com.pk/menu\",\n          \"isBranded\": true,\n          \"isNew\": false\n        },\n        {\n          \"keyword\": \"fine pizza deals\",\n          \"rank\": 2,\n          \"searchVolume\": 8100,\n          \"etv\": 97.2,\n          \"cpc\": 0.68,\n          \"difficulty\": 36,\n          \"intent\": \"transactional\",\n          \"url\": \"https://finepizza.com.pk/deals\",\n          \"isBranded\": true,\n          \"isNew\": true\n        },\n        {\n          \"keyword\": \"fine pizza order online\",\n          \"rank\": 3,\n          \"searchVolume\": 6600,\n          \"etv\": 79.2,\n          \"cpc\": 0.82,\n          \"difficulty\": 40,\n          \"intent\": \"transactional\",\n          \"url\": \"https://finepizza.com.pk/\",\n          \"isBranded\": true,\n          \"isNew\": true\n        }\n      ],\n      \"quickWinOpportunities\": [\n        {\n          \"keyword\": \"best pizza in model town lahore\",\n          \"rank\": 11,\n          \"searchVolume\": 3600,\n          \"etv\": 32.4,\n          \"cpc\": 0.98,\n          \"difficulty\": 48,\n          \"intent\": \"commercial\",\n          \"url\": \"https://finepizza.com.pk/\",\n          \"isBranded\": false,\n          \"isNew\": false\n        },\n        {\n          \"keyword\": \"pizza delivery college road lahore\",\n          \"rank\": 13,\n          \"searchVolume\": 2100,\n          \"etv\": 18.9,\n          \"cpc\": 1.06,\n          \"difficulty\": 42,\n          \"intent\": \"commercial\",\n          \"url\": \"https://finepizza.com.pk/\",\n          \"isBranded\": false,\n          \"isNew\": true\n        },\n        {\n          \"keyword\": \"family pizza deals lahore\",\n          \"rank\": 14,\n          \"searchVolume\": 4200,\n          \"etv\": 37.8,\n          \"cpc\": 1.12,\n          \"difficulty\": 45,\n          \"intent\": \"commercial\",\n          \"url\": \"https://finepizza.com.pk/deals\",\n          \"isBranded\": false,\n          \"isNew\": false\n        },\n        {\n          \"keyword\": \"pizza and chinese deals lahore\",\n          \"rank\": 16,\n          \"searchVolume\": 2600,\n          \"etv\": 23.4,\n          \"cpc\": 1.08,\n          \"difficulty\": 40,\n          \"intent\": \"commercial\",\n          \"url\": \"https://finepizza.com.pk/menu\",\n          \"isBranded\": false,\n          \"isNew\": true\n        },\n        {\n          \"keyword\": \"chow mein home delivery lahore\",\n          \"rank\": 17,\n          \"searchVolume\": 1900,\n          \"etv\": 19,\n          \"cpc\": 0.95,\n          \"difficulty\": 37,\n          \"intent\": \"commercial\",\n          \"url\": \"https://finepizza.com.pk/menu\",\n          \"isBranded\": false,\n          \"isNew\": false\n        }\n      ],\n      \"allKeywords\": [\n        {\n          \"keyword\": \"fine pizza\",\n          \"rank\": 1,\n          \"searchVolume\": 18100,\n          \"etv\": 290,\n          \"cpc\": 0.55,\n          \"difficulty\": 38,\n          \"intent\": \"navigational\",\n          \"url\": \"https://finepizza.com.pk/\",\n          \"isBranded\": true,\n          \"isNew\": false\n        },\n        {\n          \"keyword\": \"fine pizza lahore\",\n          \"rank\": 1,\n          \"searchVolume\": 12100,\n          \"etv\": 193.6,\n          \"cpc\": 0.58,\n          \"difficulty\": 34,\n          \"intent\": \"navigational\",\n          \"url\": \"https://finepizza.com.pk/\",\n          \"isBranded\": true,\n          \"isNew\": false\n        },\n        {\n          \"keyword\": \"fine pizza menu\",\n          \"rank\": 1,\n          \"searchVolume\": 9900,\n          \"etv\": 158.4,\n          \"cpc\": 0.62,\n          \"difficulty\": 32,\n          \"intent\": \"transactional\",\n          \"url\": \"https://finepizza.com.pk/menu\",\n          \"isBranded\": true,\n          \"isNew\": false\n        },\n        {\n          \"keyword\": \"fine pizza deals\",\n          \"rank\": 2,\n          \"searchVolume\": 8100,\n          \"etv\": 97.2,\n          \"cpc\": 0.68,\n          \"difficulty\": 36,\n          \"intent\": \"transactional\",\n          \"url\": \"https://finepizza.com.pk/deals\",\n          \"isBranded\": true,\n          \"isNew\": true\n        },\n        {\n          \"keyword\": \"fine pizza order online\",\n          \"rank\": 3,\n          \"searchVolume\": 6600,\n          \"etv\": 79.2,\n          \"cpc\": 0.82,\n          \"difficulty\": 40,\n          \"intent\": \"transactional\",\n          \"url\": \"https://finepizza.com.pk/\",\n          \"isBranded\": true,\n          \"isNew\": true\n        },\n        {\n          \"keyword\": \"fine pizza burger\",\n          \"rank\": 3,\n          \"searchVolume\": 5400,\n          \"etv\": 64.8,\n          \"cpc\": 0.74,\n          \"difficulty\": 30,\n          \"intent\": \"commercial\",\n          \"url\": \"https://finepizza.com.pk/menu\",\n          \"isBranded\": true,\n          \"isNew\": false\n        },\n        {\n          \"keyword\": \"fine pizza model town\",\n          \"rank\": 4,\n          \"searchVolume\": 3900,\n          \"etv\": 46.8,\n          \"cpc\": 0.69,\n          \"difficulty\": 28,\n          \"intent\": \"navigational\",\n          \"url\": \"https://finepizza.com.pk/\",\n          \"isBranded\": true,\n          \"isNew\": false\n        },\n        {\n          \"keyword\": \"fine pizza zarrar shaheed road\",\n          \"rank\": 4,\n          \"searchVolume\": 2900,\n          \"etv\": 33.1,\n          \"cpc\": 0.72,\n          \"difficulty\": 27,\n          \"intent\": \"navigational\",\n          \"url\": \"https://finepizza.com.pk/\",\n          \"isBranded\": true,\n          \"isNew\": true\n        },\n        {\n          \"keyword\": \"fine pizza college road\",\n          \"rank\": 5,\n          \"searchVolume\": 2600,\n          \"etv\": 31.2,\n          \"cpc\": 0.7,\n          \"difficulty\": 26,\n          \"intent\": \"navigational\",\n          \"url\": \"https://finepizza.com.pk/\",\n          \"isBranded\": true,\n          \"isNew\": true\n        },\n        {\n          \"keyword\": \"fine pizza paragon\",\n          \"rank\": 6,\n          \"searchVolume\": 2100,\n          \"etv\": 23.1,\n          \"cpc\": 0.68,\n          \"difficulty\": 25,\n          \"intent\": \"navigational\",\n          \"url\": \"https://finepizza.com.pk/\",\n          \"isBranded\": true,\n          \"isNew\": false\n        },\n        {\n          \"keyword\": \"best pizza in model town lahore\",\n          \"rank\": 7,\n          \"searchVolume\": 3600,\n          \"etv\": 32.4,\n          \"cpc\": 0.98,\n          \"difficulty\": 48,\n          \"intent\": \"commercial\",\n          \"url\": \"https://finepizza.com.pk/\",\n          \"isBranded\": false,\n          \"isNew\": false\n        },\n        {\n          \"keyword\": \"best pizza and burgers in lahore\",\n          \"rank\": 8,\n          \"searchVolume\": 4100,\n          \"etv\": 36.9,\n          \"cpc\": 1.15,\n          \"difficulty\": 51,\n          \"intent\": \"commercial\",\n          \"url\": \"https://finepizza.com.pk/\",\n          \"isBranded\": false,\n          \"isNew\": false\n        },\n        {\n          \"keyword\": \"pizza delivery college road lahore\",\n          \"rank\": 13,\n          \"searchVolume\": 2100,\n          \"etv\": 18.9,\n          \"cpc\": 1.06,\n          \"difficulty\": 42,\n          \"intent\": \"commercial\",\n          \"url\": \"https://finepizza.com.pk/\",\n          \"isBranded\": false,\n          \"isNew\": true\n        },\n        {\n          \"keyword\": \"family pizza deals lahore\",\n          \"rank\": 14,\n          \"searchVolume\": 4200,\n          \"etv\": 37.8,\n          \"cpc\": 1.12,\n          \"difficulty\": 45,\n          \"intent\": \"commercial\",\n          \"url\": \"https://finepizza.com.pk/deals\",\n          \"isBranded\": false,\n          \"isNew\": false\n        },\n        {\n          \"keyword\": \"pizza and chinese deals lahore\",\n          \"rank\": 16,\n          \"searchVolume\": 2600,\n          \"etv\": 23.4,\n          \"cpc\": 1.08,\n          \"difficulty\": 40,\n          \"intent\": \"commercial\",\n          \"url\": \"https://finepizza.com.pk/menu\",\n          \"isBranded\": false,\n          \"isNew\": true\n        },\n        {\n          \"keyword\": \"chow mein home delivery lahore\",\n          \"rank\": 17,\n          \"searchVolume\": 1900,\n          \"etv\": 19,\n          \"cpc\": 0.95,\n          \"difficulty\": 37,\n          \"intent\": \"commercial\",\n          \"url\": \"https://finepizza.com.pk/menu\",\n          \"isBranded\": false,\n          \"isNew\": false\n        },\n        {\n          \"keyword\": \"fine pizza contact number\",\n          \"rank\": 18,\n          \"searchVolume\": 1900,\n          \"etv\": 17.1,\n          \"cpc\": 0.52,\n          \"difficulty\": 14,\n          \"intent\": \"navigational\",\n          \"url\": \"https://finepizza.com.pk/contact\",\n          \"isBranded\": true,\n          \"isNew\": false\n        },\n        {\n          \"keyword\": \"garlic bread with cheese lahore\",\n          \"rank\": 19,\n          \"searchVolume\": 1700,\n          \"etv\": 15.3,\n          \"cpc\": 0.88,\n          \"difficulty\": 35,\n          \"intent\": \"commercial\",\n          \"url\": \"https://finepizza.com.pk/menu\",\n          \"isBranded\": false,\n          \"isNew\": false\n        },\n        {\n          \"keyword\": \"cheese fries lahore\",\n          \"rank\": 20,\n          \"searchVolume\": 1500,\n          \"etv\": 12,\n          \"cpc\": 0.82,\n          \"difficulty\": 30,\n          \"intent\": \"commercial\",\n          \"url\": \"https://finepizza.com.pk/menu\",\n          \"isBranded\": false,\n          \"isNew\": true\n        },\n        {\n          \"keyword\": \"fine pizza deals 2026\",\n          \"rank\": 22,\n          \"searchVolume\": 2400,\n          \"etv\": 19.2,\n          \"cpc\": 0.77,\n          \"difficulty\": 24,\n          \"intent\": \"transactional\",\n          \"url\": \"https://finepizza.com.pk/deals\",\n          \"isBranded\": true,\n          \"isNew\": true\n        },\n        {\n          \"keyword\": \"midnight pizza delivery lahore\",\n          \"rank\": 24,\n          \"searchVolume\": 2100,\n          \"etv\": 18.9,\n          \"cpc\": 1.2,\n          \"difficulty\": 44,\n          \"intent\": \"commercial\",\n          \"url\": \"https://finepizza.com.pk/\",\n          \"isBranded\": false,\n          \"isNew\": true\n        },\n        {\n          \"keyword\": \"shawarma platters lahore\",\n          \"rank\": 26,\n          \"searchVolume\": 1600,\n          \"etv\": 9.6,\n          \"cpc\": 0.9,\n          \"difficulty\": 33,\n          \"intent\": \"commercial\",\n          \"url\": \"https://finepizza.com.pk/menu\",\n          \"isBranded\": false,\n          \"isNew\": false\n        },\n        {\n          \"keyword\": \"zinger burger deals lahore\",\n          \"rank\": 27,\n          \"searchVolume\": 1900,\n          \"etv\": 17.1,\n          \"cpc\": 0.96,\n          \"difficulty\": 36,\n          \"intent\": \"commercial\",\n          \"url\": \"https://finepizza.com.pk/menu\",\n          \"isBranded\": false,\n          \"isNew\": false\n        },\n        {\n          \"keyword\": \"fine pizza login\",\n          \"rank\": 29,\n          \"searchVolume\": 1300,\n          \"etv\": 11.7,\n          \"cpc\": 0.48,\n          \"difficulty\": 10,\n          \"intent\": \"navigational\",\n          \"url\": \"https://finepizza.com.pk/\",\n          \"isBranded\": true,\n          \"isNew\": false\n        },\n        {\n          \"keyword\": \"fine pizza signup\",\n          \"rank\": 30,\n          \"searchVolume\": 1200,\n          \"etv\": 10.8,\n          \"cpc\": 0.46,\n          \"difficulty\": 9,\n          \"intent\": \"navigational\",\n          \"url\": \"https://finepizza.com.pk/\",\n          \"isBranded\": true,\n          \"isNew\": true\n        }\n      ]\n    }\n  },\n  {\n    \"success\": false,\n    \"error\": \"Access denied. Visit Plans and Subscriptions to activate your subscription and get access to this API: https://app.dataforseo.com/backlinks-subscription .\",\n    \"backlinks\": null\n  }\n];\n\nreturn testData.map(item => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        1968
      ],
      "id": "d96898e8-b4d7-4840-b6ac-8e2e5a46c817",
      "name": "Test Data"
    },
    {
      "parameters": {
        "jsCode": "// Get metadata from Aggregate Data1 node\nconst aggregateData = $('Aggregate Data1').first().json;\nconst metadata = aggregateData.metadata || {};\nconst targetUrl = metadata.targetUrl || '';\nconst dateFrom = metadata.dateFrom || '';\nconst dateTo = metadata.dateTo || '';\n\nconst searchResult = $input.first().json;\n\n// Handle different possible response shapes from Google Drive\nconst inputFiles = searchResult.files || searchResult.data?.files || [];\n\nconsole.log('=== DEBUG INFO ===');\nconsole.log('Target URL:', targetUrl);\nconsole.log('Date From:', dateFrom);\nconsole.log('Date To:', dateTo);\nconsole.log('Total Files from Drive:', inputFiles.length);\n\nif (!targetUrl) {\n  return [{\n    json: {\n      file: null,\n      matched: false,\n      error: 'No target URL found in metadata'\n    }\n  }];\n}\n\n// --- Create a slug that matches how filenames are generated ---\n\n// 1) Base on the domain (no protocol, no path)\nconst domainOnly = targetUrl\n  .replace(/^https?:\\/\\//, '')\n  .replace(/^www\\./, '')\n  .split('/')[0]; // strip any path\n\n// 2) Apply same cleaning as in Convert To Markdown1/2\nconst websiteSlug = domainOnly\n  .replace(/[^a-zA-Z0-9]/g, '_')\n  .replace(/_+/g, '_')\n  .toLowerCase();\n\nconsole.log('Website slug for matching:', websiteSlug);\n\n// NOTE: We intentionally do NOT require exact date range match here.\n// We just want the latest SEO_Performance_Report for this site,\n// regardless of what period that previous report used.\n\n// Filter matching files\nconst matchedFiles = inputFiles.filter(file => {\n  const name = (file.name || '').toLowerCase();\n\n  const hasReport = name.includes('seo_performance_report');\n  const hasUrl = name.includes(websiteSlug);\n\n  const isMatch = hasReport && hasUrl;\n\n  console.log(`Checking file: ${file.name}`);\n  console.log(`  - hasReport: ${hasReport}`);\n  console.log(`  - hasUrl (${websiteSlug}): ${hasUrl}`);\n  console.log(`  - MATCH: ${isMatch}`);\n\n  return isMatch;\n});\n\nconsole.log(`Total matched files: ${matchedFiles.length}`);\n\nif (matchedFiles.length === 0) {\n  return [{\n    json: {\n      file: null,\n      matched: false,\n      debug: {\n        targetUrl,\n        websiteSlug,\n        totalFiles: inputFiles.length,\n        sampleFilename: inputFiles[0]?.name\n      }\n    }\n  }];\n}\n\n// Sort by modifiedTime descending (latest first)\nmatchedFiles.sort((a, b) => {\n  const aTime = new Date(a.modifiedTime || a.createdTime || 0);\n  const bTime = new Date(b.modifiedTime || b.createdTime || 0);\n  return bTime - aTime;\n});\n\nconsole.log(`Latest matched file: ${matchedFiles[0].name}`);\n\nreturn [{\n  json: {\n    file: matchedFiles[0],\n    matched: true,\n    totalMatches: matchedFiles.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        1408
      ],
      "id": "c5a0b332-3d9f-41ef-b049-9bf961072a52",
      "name": "Filter Files"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "OnPage Task Post",
            "type": "main",
            "index": 0
          },
          {
            "node": "Domain Rank Overview",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ranked Keywords",
            "type": "main",
            "index": 0
          },
          {
            "node": "Backlinks Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OnPage Task Post": {
      "main": [
        [
          {
            "node": "Wait for OnPage Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Domain Rank Overview": {
      "main": [
        [
          {
            "node": "Parse Domain Rank",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ranked Keywords": {
      "main": [
        [
          {
            "node": "Parse Ranked Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backlinks Summary": {
      "main": [
        [
          {
            "node": "Parse Backlinks Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for OnPage Analysis": {
      "main": [
        [
          {
            "node": "OnPage Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OnPage Summary": {
      "main": [
        [
          {
            "node": "Parse OnPage Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Domain Rank": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Parse Ranked Keywords": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse OnPage Summary": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Backlinks Summary": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Aggregate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Data": {
      "main": [
        [
          {
            "node": "Check Subscription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Onboarding Report Generator": {
      "main": [
        [
          {
            "node": "Convert To Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4.1 mini": {
      "ai_languageModel": [
        [
          {
            "node": "Onboarding Report Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Prompt": {
      "main": [
        [
          {
            "node": "Onboarding Report Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Send Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert To Markdown": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Previous Reports": {
      "main": [
        [
          {
            "node": "Filter Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Previous Report": {
      "main": [
        [
          {
            "node": "Download Previous Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Previous Report": {
      "main": [
        [
          {
            "node": "Parse Previous Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Previous Report": {
      "main": [
        [
          {
            "node": "Generate Prompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Performance Report Generator": {
      "main": [
        [
          {
            "node": "Convert To Markdown1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Validate Input1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input1": {
      "main": [
        [
          {
            "node": "OnPage Task Post1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Domain Rank Overview1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ranked Keywords1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Backlinks Summary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OnPage Task Post1": {
      "main": [
        [
          {
            "node": "Wait for OnPage Analysis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Domain Rank Overview1": {
      "main": [
        [
          {
            "node": "Parse Domain Rank1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ranked Keywords1": {
      "main": [
        [
          {
            "node": "Parse Ranked Keywords1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backlinks Summary1": {
      "main": [
        [
          {
            "node": "Parse Backlinks Summary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for OnPage Analysis1": {
      "main": [
        [
          {
            "node": "OnPage Summary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OnPage Summary1": {
      "main": [
        [
          {
            "node": "Parse OnPage Summary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Domain Rank1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Parse Ranked Keywords1": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse OnPage Summary1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Backlinks Summary1": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Aggregate Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Data1": {
      "main": [
        [
          {
            "node": "Validate Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4.1 mini1": {
      "ai_languageModel": [
        [
          {
            "node": "Performance Report Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Prompt1": {
      "main": [
        [
          {
            "node": "Performance Report Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Send Report1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert To Markdown1": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get Previous Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Data Without Previous Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data Without Previous Report": {
      "main": [
        [
          {
            "node": "Generate Prompt2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Performance Report Generator1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Performance Report Generator1": {
      "main": [
        [
          {
            "node": "Convert To Markdown2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert To Markdown2": {
      "main": [
        [
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive2": {
      "main": [
        [
          {
            "node": "Send Report2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Prompt2": {
      "main": [
        [
          {
            "node": "Performance Report Generator1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Data": {
      "main": [
        [
          {
            "node": "Generate Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error": {
      "main": [
        [
          {
            "node": "Send Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Data": {
      "main": [
        [
          {
            "node": "Check Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Format Subscription Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Subscription": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Subscription Error": {
      "main": [
        [
          {
            "node": "Send Subscription Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Subscription2": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Subscription Error1": {
      "main": [
        [
          {
            "node": "Send Subscription Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Format Subscription Error1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error1": {
      "main": [
        [
          {
            "node": "Send Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Data1": {
      "main": [
        [
          {
            "node": "Search Previous Reports",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Data1": {
      "main": [
        [
          {
            "node": "Check Subscription2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Data": {
      "main": [
        []
      ]
    },
    "Filter Files": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dd6ad8e3-1f92-49c8-b6f4-381b77764dd5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "151305d708accaf9ba7df3ae300984e7c14a108b131ed2d081a3bd48f670f5c4"
  },
  "id": "GNuxYtibevwftx8Y",
  "tags": [
    {
      "updatedAt": "2025-11-18T10:45:47.993Z",
      "createdAt": "2025-11-18T10:45:47.993Z",
      "id": "TaYkrg3HODu8PBvS",
      "name": "automation"
    },
    {
      "updatedAt": "2026-01-19T04:54:05.599Z",
      "createdAt": "2026-01-19T04:54:05.599Z",
      "id": "mat6F3fQgi48RuSU",
      "name": "SEO Report"
    }
  ]
}
